In [1]:
import os
os.environ["PROJ_LIB"] = "D:\Anacoda\pkgs\proj4-5.2.0-ha925a31_1\Library\share"

from mpl_toolkits.basemap import Basemap

from shapely.geometry import Point #to find suburb
from shapely.geometry.polygon import Polygon #to find suburb 

import pandas as pd #pandas tables
import numpy as np #numpy for linear algrebra solution
import matplotlib.pyplot as plt #EDA
%matplotlib inline
pd.set_option('display.max_rows', 500) #display of pandas
pd.set_option('display.max_columns', 500)  #display of pandas
pd.set_option('display.width', 1000)  #display of pandas

import math #math operations
from datetime import datetime #datetime manipulation

import tqdm #progress bar
from tqdm import tqdm_notebook as tqdm #progress bar
from tqdm.autonotebook import tqdm #progress bar
 #progress bar

from sklearn import linear_model  #linear regression 
import statsmodels.api as sm #linear regression 

import re #regex
from contextlib import suppress #suppress error

import networkx as nx #networkx to find shortest distance.

import datetime as dt #to convert datetime value later on

import numpy
import matplotlib 
%matplotlib inline
import shapefile
import matplotlib.pyplot as plt
import matplotlib.patches as patches
from matplotlib.patches import Polygon
from matplotlib.collections import PatchCollection

D:\Anacoda\lib\site-packages\tqdm\autonotebook\__init__.py:14: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  " (e.g. in jupyter console)", TqdmExperimentalWarning)

In [2]:
data = pd.read_csv('data.xls')

In [3]:
data.head()

   Unnamed: 0           ID           Address  Rooms Type      Price        Date  Bathroom  Car  LandSize    Age  Latitude  Longitude          Suburb  train_station_id  distance_to_train_station  travel_min_to_CBD  over_priced?  crime_A_average  crime_B_average  crime_C_average               closest_primary_school  distance_to_closest_primary primary_school_ranking        closest_secondary_school  distance_to_closest_secondary secondary_school_ranking  year             council
0           0  ID617281164    2/63 Domain St      3    u   920000.0  13/05/2017       1.0  1.0       0.0   49.0  -37.8360   144.9782     SOUTH YARRA             19959                       1272                 12         False             1245             3886              447             Melbourne Grammar School                          285                     79  MacRobertson Girls High School                            557               not ranked  2017  GREATER SHEPPARTON
1           1  ID452715143  8/7 Passfield St      2    u   521500.0   3/09/2016       1.0  1.0       0.0   59.0  -37.7680   144.9408  BRUNSWICK WEST             19968                       1653                 25          True              958             5673              628  Brunswick South West Primary School                          373                    316     Brunswick Secondary College                           1291                      211  2016         MARIBYRNONG
2           2  ID895713969      65 Napier St      3    h  1467000.0   7/11/2016       2.0  2.0     188.0  119.0  -37.7532   144.9178        ESSENDON             20037                        343                 24         False              334             1407               88              Essendon Primary School                          285                    133            St Columba's College                            542                       85  2016           NILLUMBIK
3           3  ID721036868     3 Veronica St      3    h  1390000.0   7/05/2016       2.0  2.0     590.0   59.0  -37.9256   145.0757  BENTLEIGH EAST             19916                       2849                 31         False              925             4701              308                    St Peter's School                          507                    345               St James' College                            392               not ranked  2016         HOBSONS BAY
4           4  ID916194179      24 Brooks St      4    h  1220000.0   4/06/2016       2.0  2.0     585.0   69.0  -37.9167   145.0771  BENTLEIGH EAST             19917                       2067                 29         False              925             4701              308           Coatesville Primary School                          484                    271               St James' College                           1198               not ranked  2016         HOBSONS BAY

In [18]:
data = data.drop(columns=['Unnamed: 0'])

In [19]:
data.describe()

            Rooms         Price    Bathroom         Car      LandSize         Age    Latitude   Longitude  train_station_id  distance_to_train_station  travel_min_to_CBD  crime_A_average  crime_B_average  crime_C_average  distance_to_closest_primary  distance_to_closest_secondary         year
count  684.000000  6.840000e+02  684.000000  684.000000    684.000000  684.000000  684.000000  684.000000        684.000000                 684.000000         684.000000       684.000000       684.000000       684.000000                   684.000000                     684.000000   684.000000
mean     2.906433  1.066358e+06    1.504386    1.608187    591.394737   55.517544  -37.811772  144.995050      20395.023392                1404.989766          26.144737      1146.033626      5126.219298       454.599415                   564.622807                    1150.156433  2016.527778
std      0.926281  6.257420e+05    0.676944    0.982269   1438.840732   45.208008    0.078006    0.104906       3481.067114                1114.302200          10.735518       846.662322      4062.037946       403.828657                   282.985239                     649.136747     0.499593
min      1.000000  1.450000e+05    0.000000    0.000000      0.000000    2.000000  -38.161350  144.568030      15351.000000                  67.000000           0.000000         5.000000        68.000000         1.000000                    45.000000                      66.000000  2016.000000
25%      2.000000  6.407500e+05    1.000000    1.000000    176.750000   24.000000  -37.859225  144.931088      19917.750000                 601.000000          19.000000       584.000000      1743.000000       159.000000                   343.000000                     663.500000  2016.000000
50%      3.000000  8.950000e+05    1.000000    2.000000    456.500000   49.000000  -37.809025  145.001750      19957.000000                1067.500000          26.000000       958.000000      5212.000000       371.500000                   547.500000                    1048.000000  2017.000000
75%      3.000000  1.311250e+06    2.000000    2.000000    664.250000   74.000000  -37.756277  145.057023      20010.000000                1782.000000          32.000000      1566.000000      7776.000000       586.000000                   750.000000                    1541.500000  2017.000000
max      8.000000  4.735000e+06    8.000000    7.000000  21700.000000  823.000000  -37.562910  145.359510      52160.000000                6341.000000          68.000000      3767.000000     18944.000000      2042.000000                  1670.000000                    5371.000000  2017.000000

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data[["Rooms", "Bathroom", "Car","LandSize", "distance_to_train_station",\
                                                          "crime_A_average","crime_B_average","crime_C_average", \
                                                          "travel_min_to_CBD", "Age"]],
                                                    data.Price, test_size=0.2,
                                                    random_state=0)
X_train.shape, X_test.shape

((547, 10), (137, 10))

In [27]:
from sklearn.preprocessing import StandardScaler
stdscalar = StandardScaler()
X_train = stdscalar.fit_transform(X_train)

D:\Anacoda\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
D:\Anacoda\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [29]:
X_test = stdscalar.transform(X_train)

In [30]:
X_train

array([[-1.00813376, -2.24749046, -1.68914586, ...,  0.22233399,
        -0.64237459,  0.76826932],
       [ 0.09037056,  0.67611782,  0.43246788, ...,  1.95826466,
        -0.55105991,  1.59381152],
       [ 1.18887487,  0.67611782,  2.55408163, ..., -1.06148103,
         1.27523376, -0.12077613],
       ...,
       [ 0.09037056, -0.78568632,  0.43246788, ...,  0.06276376,
        -0.18580117,  0.51425633],
       [ 0.09037056, -0.78568632,  0.43246788, ..., -0.57551716,
         0.45340161, -0.12077613],
       [ 1.18887487,  0.67611782,  0.43246788, ...,  1.17008444,
        -0.09448649, -0.81931184]])