In [1]:
from urllib.request import urlopen as uReq
from bs4 import BeautifulSoup as soup
import pandas as pd
import re

In [2]:
primary_rank_url = 'http://www.schoolcatchment.com.au/?p=12301'

# send request to access the url
primaryClient = uReq(primary_rank_url)
page_html = primaryClient.read()
primaryClient.close()

page_soup = soup(page_html, "html.parser")

In [3]:
page_soup.td

In [4]:
containers_1 = page_soup.findAll("td",{"class":"column-1"})

In [5]:
containers_1[0].get_text()

'1'

In [6]:
rank_list = []
for container in containers_1:
    rank_list.append(container.get_text()) # container.get_text() returns the ranking

In [7]:
containers_2 = page_soup.findAll("td",{"class":"column-2"})

primary_school_name_list = []
for container in containers_2:
    primary_school_name_list.append(container.get_text()) # container.get_text() returns the school_name
    
    
containers_3 = page_soup.findAll("td",{"class":"column-3"})

state_list = []
for container in containers_3:
    state_list.append(container.get_text()) # container.get_text() returns the state


containers_4 = page_soup.findAll("td",{"class":"column-4"})

school_sector_list = []
for container in containers_4:
    school_sector_list.append(container.get_text()) # container.get_text() returns the school_sector
    
    
containers_5 = page_soup.findAll("td",{"class":"column-5"})

location_list = []
for container in containers_5:
    location_list.append(container.get_text()) # container.get_text() returns the location
    
containers_6 = page_soup.findAll("td",{"class":"column-6"})

enrolment_list = []
for container in containers_6:
    enrolment_list.append(container.get_text()) # container.get_text() returns the total enrolment
    

containers_7 = page_soup.findAll("td",{"class":"column-7"})

percentage_list = []
for container in containers_7:
    percentage_list.append(container.get_text()) # container.get_text() returns the percentage

In [8]:
# create primary school dataframe to store primary shcool information
column_names = ['Ranking','School Name','State','School Sector','Location','Total Enrolment','Percentage']
primary_df = pd.DataFrame(columns=column_names)

primary_df.Ranking = rank_list
primary_df['School Name'] = primary_school_name_list
primary_df['State'] = state_list
primary_df['School Sector'] = school_sector_list
primary_df['Location'] = location_list
primary_df['Total Enrolment'] = enrolment_list
primary_df['Percentage'] = percentage_list

In [9]:
primary_df

,Ranking,School Name,State,School Sector,Location,Total Enrolment,Percentage
0,1,Presbyterian Ladies' College,VIC,Independent,Major Cities,1412,96.65%
1,2,Haileybury College,VIC,Independent,Major Cities,3754,95.69%
2,3,Ballarat Clarendon College,VIC,Independent,Inner Regional,1326,93.29%
3,4,Fitzroy Community School,VIC,Independent,Major Cities,113,93.13%
4,5,Fintona Girls' School,VIC,Independent,Major Cities,456,92.96%
...,...,...,...,...,...,...,...
495,496,Holy Spirit School,VIC,Catholic,Major Cities,251,81.50%
496,497,Great Ryrie Primary School,VIC,Government,Major Cities,501,81.48%
497,498,St Justin's School,VIC,Catholic,Major Cities,347,81.48%
498,499,Wodonga Middle Years College,VIC,Government,Inner Regional,823,81.46%
499,500,Olivet Christian College,VIC,Independent,Inner Regional,75,81.46%

#### There are duplicates in rankings, so we keep the highest ranking and remove the duplicates

In [10]:
primary_df[primary_df.duplicated(['School Name'])]

,Ranking,School Name,State,School Sector,Location,Total Enrolment,Percentage
107,108,Our Lady Help of Christians School,VIC,Catholic,Major Cities,316,86.47%
176,177,St Mary's School,VIC,Catholic,Major Cities,323,85.08%
202,203,Sacred Heart School,VIC,Catholic,Major Cities,267,84.67%
278,279,St Mary's School,VIC,Catholic,Outer Regional,516,83.76%
286,287,Sacred Heart School,VIC,Catholic,Major Cities,276,83.66%
301,302,St James' School,VIC,Catholic,Major Cities,249,83.50%
306,307,St Joseph's School,VIC,Catholic,Major Cities,410,83.42%
314,315,St Mary's School,VIC,Catholic,Outer Regional,42,83.32%
327,328,St Mary's School,VIC,Catholic,Major Cities,261,83.21%
333,334,St Joseph's School,VIC,Catholic,Outer Regional,42,83.16%
334,335,St Mary's School,VIC,Catholic,Major Cities,365,83.16%
363,364,St Patrick's School,VIC,Catholic,Major Cities,357,82.87%
370,371,St Mary's School,VIC,Catholic,Major Cities,289,82.84%
374,375,St Joseph's School,VIC,Catholic,Major Cities,152,82.80%
380,381,St Paul's School,VIC,Catholic,Major Cities,364,82.75%
395,396,Sacred Heart School,VIC,Catholic,Outer Regional,58,82.54%
399,400,St Joseph's School,VIC,Catholic,Major Cities,187,82.53%
400,401,St Joseph's School,VIC,Catholic,Major Cities,319,82.51%
406,407,St Anne's School,VIC,Catholic,Major Cities,161,82.48%
415,416,St Peter's School,VIC,Catholic,Major Cities,194,82.34%
417,418,St Mary's School,VIC,Catholic,Inner Regional,153,82.32%
418,419,St Christopher's School,VIC,Catholic,Major Cities,717,82.30%
423,424,St Peter's School,VIC,Catholic,Major Cities,555,82.23%
428,429,St Mary's School,VIC,Catholic,Major Cities,297,82.15%
456,457,St Patrick's School,VIC,Catholic,Inner Regional,124,81.81%
466,467,St Mary's School,VIC,Catholic,Major Cities,557,81.72%
476,477,St Joseph's School,VIC,Catholic,Inner Regional,114,81.65%
477,478,Sacred Heart School,VIC,Catholic,Major Cities,305,81.65%
481,482,St Kevin's School,VIC,Catholic,Major Cities,113,81.62%

In [11]:
primary_no_duplicate = primary_df.drop_duplicates(subset='School Name',keep='first')
primary_no_duplicate = primary_no_duplicate.reset_index(drop= True)

### After removing duplicates from primary school, move on to secondary school. We download the `https://sites.google.com/a/monash.edu/secondary-school-ranking/` to process because it would cause lots of toubles if we have to interact with the website using authenticate.

In [12]:
# use beautifulsoup to read the contents in "secondary-school-ranking.html"
infile_secondary = open("secondary-school-ranking.html","r")
contents_secondary = infile_secondary.read()
secondary_schools_soup = soup(contents_secondary,'html')

In [13]:
# locate the secondary school information
ul = secondary_schools_soup.find_all('ul')

# store the school information
contents = []
for content in ul:
    contents.append(content.get_text())

# wrangle the contents, remove new lines
rank_body = contents[2].strip()
split_rank_body = rank_body.split('\n\n\n\n')

# remove new lines and seperate by coma
clean_rank_body = []
for strings in split_rank_body:
    clean_rank_body.append(strings.replace('\n', ','))

# display one line of the cleaned body
clean_rank_body[0]

'Academy of Mary Immaculate,144,-28,31,7.1%'

In [14]:
# create secondary_ranking dataframe to store secondary school information
column_name = ['School Name', 'Ranking', 'Change', 'Median VCE Study Score', '40+ Study Score']

secondary_ranking_df = pd.DataFrame(columns = column_name)

secondary_school_name = []
secondary_ranking = []
change = []
median_score = []
forty_plus = []
for item in clean_rank_body:
    temp = item.split(',')
    secondary_school_name.append(temp[0])
    secondary_ranking.append(int(temp[1]))
    change.append(temp[2])
    median_score.append(temp[3])
    forty_plus.append(temp[4])
    
secondary_ranking_df['School Name'] = secondary_school_name
secondary_ranking_df['Ranking'] = secondary_ranking
secondary_ranking_df['Change'] = change
secondary_ranking_df['Median VCE Study Score'] = median_score
secondary_ranking_df['40+ Study Score'] = forty_plus

secondary_ranking_df

,School Name,Ranking,Change,Median VCE Study Score,40+ Study Score
0,Academy of Mary Immaculate,144,-28,31,7.1%
1,Adass Israel School,534,-1,N/A,N/A
2,Advance College of Education,535,-1,N/A,N/A
3,Aitken College,194,+32,30,4.8%
4,Al Siraat College,280,+172,28,5.4%
...,...,...,...,...,...
579,Yarrawonga College P-12,436,-141,26,0.9%
580,Yea High School,461,-168,25,1.8%
581,Yeshivah College,63,-55,33,15.6%
582,Yesodei HaTorah College,38,+2,34,24%
583,Yuille Park Community College,584,-2,N/A,N/A

In [16]:
secondary_ranking_df.sort_values(by='Ranking')

,School Name,Ranking,Change,Median VCE Study Score,40+ Study Score
54,Bialik College,1,+2,38,40.2%
352,Mount Scopus Memorial College,10,-8,36,29.1%
524,Tintern Grammar,100,+33,32,9.8%
517,The Hamilton & Alexandra Coll,101,-13,32,9.6%
22,Avila College,102,+2,32,9.1%
...,...,...,...,...,...
364,Narre Warren Sth P-12 College,95,+107,32,10.7%
541,Viewbank College,96,+5,32,10.4%
193,Glenvale School,97,-10,32,10.3%
555,Wesley College,98,-23,32,10.1%
402,Peninsula Grammar,99,-31,32,10%

In [ ]:
# remove duplicates and keep the highest ranking
secondary_no_duplicate = secondary_ranking_df.drop_duplicates(subset='School Name', keep='first')
secondary_no_duplicate = secondary_no_duplicate.reset_index(drop= True)

### Integrate rankings and locations with `schools.xml`

In [ ]:
infile_schools = open("schools.xml","r")
contents_schools = infile_schools.read()
schools_soup = soup(contents_schools,'xml')

schools_soup.school

In [ ]:
# return the " ' " sign from html mark up
for i in schools_soup.findAll('School_Name'):
    if i.text == "&apos;" in i.text:
        i.string = "'"
        
for i in schools_soup.findAll('Address_Line_1'):
    if i.text == "&apos;" in i.text:
        i.string = "'"
schools_soup

In [ ]:
# extract school name, school type, locations
schools_xml_names_container = schools_soup.findAll("School_Name")
schools_xml_names_list = []
for names in schools_xml_names_container:
    schools_xml_names_list.append(names.get_text())

schools_xml_type_container = schools_soup.findAll("School_Type")
schools_xml_type_list = []
for types in schools_xml_type_container:
    schools_xml_type_list.append(types.get_text())

# x is actually the longtitude
schools_xml_x_container = schools_soup.findAll("X")
schools_xml_x_list = []
for longtitude in schools_xml_x_container:
    schools_xml_x_list.append(longtitude.get_text())

# y is latitude
schools_xml_y_container = schools_soup.findAll("Y")
schools_xml_y_list = []
for latitude in schools_xml_y_container:
    schools_xml_y_list.append(latitude.get_text())

In [ ]:
# create a schools_xml dataframe in order to integrate school information obtained from websites
schools_xml_colnames = ['School Name', 'School Type', 'X', 'Y', 'Ranking']
schools_xml_df = pd.DataFrame(columns=schools_xml_colnames)
schools_xml_df['School Name'] = schools_xml_names_list
schools_xml_df['School Type'] = schools_xml_type_list
schools_xml_df['X'] = schools_xml_x_list
schools_xml_df['Y'] = schools_xml_y_list

In [ ]:
schools_xml_df

In [ ]:
# integrate school rankings into schools_xml dataframe
schools_names_dictionary = {}
unique_school_name = set(schools_xml_names_list)

for name in unique_school_name:
    # integrate primary school ranking
    if name in primary_school_name_list:
        ranking = primary_no_duplicate.loc[primary_no_duplicate['School Name']==name].Ranking.values[0]
        
    elif name in secondary_school_name:
        ranking = secondary_no_duplicate.loc[secondary_no_duplicate['School Name']==name].Ranking.values[0]
        
    elif (name in primary_school_name_list) and (name in secondary_school_name):
        ranking = primary_no_duplicate.loc[primary_no_duplicate['School Name']==name].Ranking.values[0]
        
    else:
        ranking = "not ranked"
    schools_names_dictionary[name] = ranking

In [ ]:
# set ranking values based on schools_names_dictionary
schools_xml_df.Ranking = schools_xml_df['School Name'].apply(lambda x: schools_names_dictionary.get(x))

In [ ]:
schools_xml_df

In [ ]:
import math
def distance(geoloc1, geoloc2):
    #long, lat of geolocation 1
    lat_1, long_1 = map(math.radians, geoloc1)
    
    #long, lat of geolocation 2
    lat_2, long_2 = map(math.radians, geoloc2)
    
    #calculate arc
    arc = math.sin((lat_2 - lat_1) / 2) ** 2 + math.cos(lat_1) * math.cos(lat_2) * math.sin((long_2 - long_1) / 2) ** 2 
    
    # calculate distance
    dist = 2 * math.atan2(math.sqrt(arc), math.sqrt(1 - arc)) * 6378 * 1000
    
    return dist

In [ ]:
residents = pd.read_csv('Group102.csv')

In [ ]:
residents.head()

In [ ]:
import tqdm #progress bar
from tqdm import tqdm_notebook as tqdm #progress bar
from tqdm.autonotebook import tqdm #progress bar

In [ ]:
primary_name = []
primary_location = []

secondary_name = []
secondary_location = []

for index, row in schools_xml_df.iterrows():
    if row['School Type'] == 'Primary':
        primary_name.append(row['School Name'])
        primary_y_x = []
        primary_y_x.append(float(row['Y']))
        primary_y_x.append(float(row['X']))
        primary_location.append(primary_y_x)

    elif row['School Type'] == 'Secondary':
        secondary_name.append(row['School Name'])
        secondary_y_x = []
        secondary_y_x.append(float(row['Y']))
        secondary_y_x.append(float(row['X']))
        secondary_location.append(secondary_y_x)
        
primary_school_dictionary = dict(zip(primary_name,primary_location))
secondary_school_dictionary = dict(zip(secondary_name,secondary_location))

In [ ]:
closest_primary_school = []
closest_secondary_school = []


for index, row in tqdm(residents.iterrows()):
    current_resident_location = []
    current_resident_location.append(row['Lattitude'])
    current_resident_location.append(row['Longtitude'])
    
    primary_distance = []
    primary_name = []
    secondary_distance = []
    secondary_name = []
    for schools in primary_school_dictionary.keys():
        current_distance = distance(current_resident_location, primary_school_dictionary.get(schools))
        primary_distance.append(current_distance)
        primary_name.append(schools)
        
    for schools in secondary_school_dictionary.keys():
        current_distance = distance(current_resident_location, secondary_school_dictionary.get(schools))
        secondary_distance.append(current_distance)
        secondary_name.append(schools)
    
    for i in range(len(primary_distance)):
        if primary_distance[i] == min(primary_distance):
            closest_primary_school.append(primary_name[i])
    
    for i in range(len(secondary_distance)):
        if secondary_distance[i] == min(secondary_distance):
            closest_secondary_school.append(secondary_name[i])

In [ ]:
# look up for school name using the index
residents['closest_primary_school'] = closest_primary_school

residents['closest_secondary_school'] = closest_secondary_school

In [ ]:
closest_primary_distance = []
closest_secondary_distance = []
for index, row in tqdm(residents.iterrows()):
    current_resident_location = []
    current_resident_location.append(row['Lattitude'])
    current_resident_location.append(row['Longtitude'])
    closest_primary_distance.append(distance(current_resident_location,\
                                          primary_school_dictionary.get(row['closest_primary_school'])))
    closest_secondary_distance.append(distance(current_resident_location,\
                                          secondary_school_dictionary.get(row['closest_secondary_school'])))

In [ ]:
# look up for distance using index through index_distance dictionary
residents['distance_to_closest_primary'] = closest_primary_distance

residents['distance_to_closest_secondary'] = closest_secondary_distance

In [ ]:
# look up for ranking using index from schools_xml dataframe
residents['primary_school_ranking'] = residents['closest_primary_school']\
                                .apply(lambda x: schools_xml_df.loc[schools_xml_df['School Name'] == x]['Ranking'].values[0]\
                                       if x in primary_school_name_list else "not ranked")

residents['secondary_school_ranking'] = residents['closest_secondary_school']\
                                .apply(lambda x: schools_xml_df.loc[schools_xml_df['School Name'] == x]['Ranking'].values[0]\
                                      if x in secondary_school_name else "not ranked")

In [ ]:
residents

In [ ]:
schools_xml_df.loc[schools_xml_df['School Name']=='Essendon Primary School']

In [ ]:
distance([-37.75320,144.91780],[-37.753095,144.921042])