In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
import math
from datetime import datetime

import tqdm
from tqdm import tqdm_notebook as tqdm
from tqdm.autonotebook import tqdm
tqdm.pandas()

from sklearn import linear_model
import statsmodels.api as sm

import numpy as np
import matplotlib.pyplot as plt  # To visualize
from sklearn.linear_model import LinearRegression

C:\ProgramData\Anaconda3\lib\site-packages\tqdm\autonotebook\__init__.py:14: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  " (e.g. in jupyter console)", TqdmExperimentalWarning)

In [2]:
dirty = pd.read_csv('data/Group102_dirty_data.csv')

In [3]:
dirty['error'] = ''
def day(x):
    if x == 5 or x == 6:
        return 1 #'Saturday' or Sunday
    else:
        return 0 # Weekday
    return
def timeofday(x):
    if x == 'Breakfast':
        return 0
    elif x == 'Lunch':
        return 1
    elif x == 'Dinner':
        return 2

In [4]:
from datetime import datetime

In [5]:
import re
from contextlib import suppress


PATTERNS = [
        # 0) 1-12-1963 => 1963-12-01
        (re.compile(r'(\d{1,2})-(\d{1,2})-(\d{4})$'), '{2}-{1:0>2}-{0:0>2}'),
        # 1) 1789-7-14 => 1789-07-14
        (re.compile(r'(\d{4})-(\d{1,2})-(\d{1,2})$'), '{0}-{1:0>2}-{2:0>2}'),
]

def cleanup(date):
    
    with suppress(ValueError):
        return str(int(date))

    for pattern, formater in PATTERNS:
        match = pattern.match(date)
        if match is not None:
            return formater.format(*match.groups())
        
    return date

def fix_month(date):
    date = date.split('-')
    fixed = date[0]
    
    if int(date[1]) > 12:
        fixed = fixed + str('-') + date[2] + str('-') +  date[1]
    else:
        fixed = fixed + str('-') + date[1] + str('-') + date[2]
    return fixed

dirty['date_fix'] = dirty['date'].apply(lambda x : cleanup(x))
dirty['date_fix'] = dirty['date_fix'].apply(lambda x: fix_month(x))

In [6]:
len(dirty[dirty['date_fix'] != dirty['date']][['date_fix','date']])

37

There are twenty three errors in column date

In [7]:
for index, loc in dirty[dirty['date_fix'] != dirty['date']][['date_fix','date']].iterrows():
    if dirty.at[index,'error'] == '':
        dirty.at[index,'date'] = dirty.at[index,'date_fix']
        dirty.at[index,'error'] += 'date'
    else:
        print('This row was already fixed')

We fixed and marked the rows, from now on we can keep continue and fix other rows

In [8]:
dirty['compared_time'] = dirty['time'].apply(lambda x: datetime.strptime(x,'%H:%M:%S'))

In [9]:
dirty['compared_time'][0]

Timestamp('1900-01-01 15:46:28')

In [10]:
def find_meal(time):
    if time.hour < 12:
        meal = 'Breakfast'
    elif time.hour < 16:
        meal = 'Lunch'
    else:
        meal = 'Dinner'
    return meal

In [11]:
dirty['order_type_timechecked'] = dirty['compared_time'].apply(lambda x:find_meal(x))
sum(dirty['order_type_timechecked'] != dirty['order_type']) #from here we can find 37 difference

37

In [12]:
#Pancake, coffee, Cereal, Eggs
a = np.array([[8,9,1,10], 
              [0,0,3,6],
              [3,0,4,4],
              [8,6,8,0],
             ])
b = np.array([502.50,195.00,244.75,407.00])
breakfast_price = np.linalg.solve(a, b)
bprice = {}
i= 0
for item in ['Pancake', 'Coffee', 'Cereal', 'Eggs']:
    bprice[item] = breakfast_price[i]
    i+=1

#Steak, Salad, Chicken, Burger, Fries
lprice = {}
a = np.array([[7,3,3,2,10], 
              [1,3,9,0,3],
              [0,1,0,0,6],
              [10,10,8,2,8],
              [4,0,10,10,4],
             ])
b = np.array([644.6,420.6,89.2,1036.0,858.0])
lunch_price = np.linalg.solve(a, b)
i=0
for item in ['Steak', 'Salad', 'Chicken', 'Burger','Fries']:
    lprice[item] = lunch_price[i]
    i+=1

#['Salmon', 'Fish&Chips', 'Shrimp', 'Pasta']
dprice = {}
a = np.array([[3,1,6,0], 
              [4,0,3,5],
              [0,0,1,5],
              [0,5,0,4],
             ])
b = np.array([482,463.5,191.5,285])
dinner_price = np.linalg.solve(a, b)
i=0
for item in ['Salmon', 'Fish&Chips', 'Shrimp', 'Pasta']:
    dprice[item] = dinner_price[i]
    i+=1

In [13]:
#from missing, and outlier we can find these
Breakfast = ['Cereal', 'Coffee', 'Eggs', 'Pancake']
Lunch = ['Steak', 'Salad', 'Chicken', 'Burger', 'Fries']
Dinner = ['Salmon', 'Fish&Chips', 'Shrimp', 'Pasta']

In [14]:
#fixing problem of order_type based on time
for index, loc in dirty[dirty['order_type_timechecked'] != dirty['order_type']].iterrows():
    if dirty.at[index,'error'] == '':
        dirty.at[index,'order_type'] = dirty.at[index,'order_type_timechecked']
        dirty.at[index,'error'] += 'order_type'
    else:
        print('This row was already fixed')

In [15]:
#fix the wrong item in order_item
def order_item_fix(meal,items,total_price):
    menu_qtt = re.findall(r'[0-9]+', items)
    menu_item = re.findall(r'[a-zA-Z&]+', items) 
    count = 0
  
    if meal == 'Breakfast':
        take_price = bprice
        meal_list = Breakfast
    if meal == 'Lunch':
        take_price = lprice
        meal_list = Lunch
    if meal == 'Dinner':
        take_price = dprice 
        meal_list = Dinner
        
    i = 0
    for item in menu_item:
        if item in meal_list:
            total_price = total_price - int(menu_qtt[i])*take_price[item]
            i+=1
        else:
            out_list = item
            count = int(menu_qtt[i])
            i+=1
                
    price_o_outlist = total_price/count
            
    for item, price in take_price.items():
        if abs(price_o_outlist - price) < 0.1:
            fix_out_list = item
    items = items.replace(out_list,fix_out_list)
    
    return items

So after checking the one that has been fixed by timecheck, we can continue

In [16]:
def order_item_check(meal,items):
    error = 0
    menu_qtt = re.findall(r'[a-zA-Z&]+', items)
    if meal == 'Breakfast':
        meal_list = Breakfast
    if meal == 'Lunch':
        meal_list = Lunch
    if meal == 'Dinner':
        meal_list = Dinner
    for item in menu_qtt:
        if item not in meal_list:
            error = 1
            break
    return error

In [17]:
dirty['order_items_menucheck'] = dirty[['order_type','order_items']].apply(lambda x: order_item_check(*x), axis=1)

In [18]:
len(dirty[dirty['order_items_menucheck'] == 1][['order_items']])

37

So we have 37 rows that have error in items.

In [19]:
for index, loc in dirty[dirty['order_items_menucheck'] == 1][['order_type','order_items','order_price']].iterrows():
    dirty.at[index,'order_items'] = order_item_fix(dirty.at[index,'order_type'],dirty.at[index,'order_items'],dirty.at[index,'order_price'])
    dirty.at[index,'order_items_menucheck'] = 0
    dirty.at[index,'error'] += 'wrong item'

In [20]:
len(dirty[dirty['error'] != ''])

111

In [21]:
#from inspecting we can see that customer_lat has some positive value

#some value of customer_lat should be swap with customer_lon
dirty[dirty['customer_lat'] > dirty['customer_lon']]

      order_id        date      time order_type branch_code                                        order_items  order_price  customer_lat  customer_lon  customerHasloyalty?  distance_to_customer_KM  delivery_fee error    date_fix       compared_time order_type_timechecked  order_items_menucheck
5    ORDI08627  2018-10-08  17:17:44     Dinner          NS   [('Fish&Chips', 2), ('Pasta', 7), ('Salmon', 1)]        303.5    144.958183    -37.815605                    0                    8.516     14.549998        2018-10-08 1900-01-01 17:17:44                 Dinner                      0
330  ORDJ02914  2018-04-21  11:32:57  Breakfast          TP                     [('Coffee', 5), ('Cereal', 2)]         79.5    144.969693    -37.820101                    0                    7.713     12.001863        2018-04-21 1900-01-01 11:32:57              Breakfast                      0
367  ORDK06032  2018-04-25  11:43:05  Breakfast          BK                       [('Coffee', 4), ('Eggs', 6)]        162.0    144.948864    -37.814427                    0                    9.539     14.366747        2018-04-25 1900-01-01 11:43:05              Breakfast                      0
454  ORDI07822  2018-06-01  12:54:05      Lunch          NS  [('Burger', 1), ('Steak', 2), ('Chicken', 10),...        575.0    144.935733    -37.809891                    0                   10.039     15.470736        2018-06-01 1900-01-01 12:54:05                  Lunch                      0

In [22]:
for index, loc in dirty[dirty['customer_lat'] > dirty['customer_lon']].iterrows():
    if dirty.at[index,'error'] == '':
        dirty.at[index,'customer_lat'],dirty.at[index,'customer_lon'] = dirty.at[index,'customer_lon'],dirty.at[index,'customer_lat']
        dirty.at[index,'error'] += 'long_lat_swap'
    else:
        print('This row was already fixed')
dirty[dirty['customer_lat'] > dirty['customer_lon']]

Empty DataFrame
Columns: [order_id, date, time, order_type, branch_code, order_items, order_price, customer_lat, customer_lon, customerHasloyalty?, distance_to_customer_KM, delivery_fee, error, date_fix, compared_time, order_type_timechecked, order_items_menucheck]
Index: []

In [23]:
#some customer_lat does not have negative sign
dirty[-1*dirty['customer_lat'] < 0]

      order_id        date      time order_type branch_code                                        order_items  order_price  customer_lat  customer_lon  customerHasloyalty?  distance_to_customer_KM  delivery_fee error    date_fix       compared_time order_type_timechecked  order_items_menucheck
10   ORDI00586  2018-01-21  08:30:25  Breakfast          NS                    [('Pancake', 7), ('Coffee', 3)]       192.25     37.800116    144.971195                    0                    6.180     13.212080        2018-01-21 1900-01-01 08:30:25              Breakfast                      0
15   ORDX00218  2018-04-26  11:43:05  Breakfast          BK  [('Eggs', 9), ('Pancake', 5), ('Cereal', 1), (...       392.75     37.818420    144.966889                    0                    7.565     12.362697        2018-04-26 1900-01-01 11:43:05              Breakfast                      0
23   ORDB03511  2018-08-21  15:36:20      Lunch          TP                       [('Salad', 6), ('Fries', 9)]       211.20     37.799396    144.961929                    0                    9.862     12.712357        2018-08-21 1900-01-01 15:36:20                  Lunch                      0
44   ORDY05498  2018-11-03  18:08:27     Dinner          TP                     [('Shrimp', 4), ('Salmon', 8)]       544.00     37.824974    144.958918                    0                    8.157     14.149162        2018-11-03 1900-01-01 18:08:27                 Dinner                      0
56   ORDK04371  2018-02-08  09:10:59  Breakfast          BK        [('Eggs', 1), ('Cereal', 3), ('Coffee', 8)]       145.00     37.816826    144.950559                    0                    9.228     13.895018        2018-02-08 1900-01-01 09:10:59              Breakfast                      0
68   ORDC02482  2018-01-11  08:20:16  Breakfast          NS                      [('Eggs', 3), ('Cereal', 10)]       276.00     37.807260    144.957396                    1                    8.099      7.080570        2018-01-11 1900-01-01 08:20:16              Breakfast                      0
73   ORDJ04878  2018-11-11  18:28:43     Dinner          TP                 [('Shrimp', 6), ('Fish&Chips', 1)]       359.00     37.803309    144.961568                    0                    9.394     14.612185        2018-11-11 1900-01-01 18:28:43                 Dinner                      0
77   ORDZ00057  2018-09-08  16:16:54     Dinner          NS  [('Shrimp', 3), ('Pasta', 4), ('Salmon', 5), (...       687.00     37.819760    144.976073                    0                    8.440     16.410171        2018-09-08 1900-01-01 16:16:54                 Dinner                      0
82   ORDC07069  2018-12-26  19:49:51     Dinner          NS  [('Shrimp', 10), ('Fish&Chips', 5), ('Pasta', ...      1140.00     37.811872    144.999925                    0                    9.575     15.807265        2018-12-26 1900-01-01 19:49:51                 Dinner                      0
88   ORDZ10436  2018-06-09  13:14:21      Lunch          NS  [('Burger', 2), ('Chicken', 10), ('Steak', 5),...       641.40     37.821721    144.986522                    0                    9.327     17.027155        2018-06-09 1900-01-01 13:14:21                  Lunch                      0
106  ORDX08255  2018-02-22  09:41:24  Breakfast          BK                     [('Cereal', 4), ('Coffee', 4)]       114.00     37.815131    144.966228                    0                    7.581     12.483907        2018-02-22 1900-01-01 09:41:24              Breakfast                      0
132  ORDX00777  2018-05-14  12:23:39      Lunch          BK  [('Chicken', 10), ('Fries', 7), ('Steak', 8), ...       936.00     37.800646    145.005913                    0                    4.772     10.755139        2018-05-14 1900-01-01 12:23:39                  Lunch                      0
134  ORDZ09473  2018-02-28  09:51:32  Breakfast          NS                       [('Coffee', 4), ('Eggs', 3)]        96.00     37.813234    145.000175                    0                    9.747     14.747345        2018-02-28 1900-01-01 09:51:32              Breakfast                      0
148  ORDC06386  2018-06-19  13:34:38      Lunch          NS      [('Burger', 8), ('Fries', 7), ('Chicken', 6)]       524.00     37.823438    145.006816                    0                   11.083     17.049596        2018-06-19 1900-01-01 13:34:38                  Lunch                      0
162  ORDZ02568  2018-03-30  10:52:23  Breakfast          NS                       [('Eggs', 7), ('Coffee', 7)]       206.50     37.816156    144.964129                    0                    8.262     12.850555        2018-03-30 1900-01-01 10:52:23              Breakfast                      0
171  ORDK05136  2018-05-16  12:23:39      Lunch          BK      [('Chicken', 1), ('Fries', 5), ('Burger', 5)]       247.00     37.809039    144.971935                    0                    7.233     13.333477        2018-05-16 1900-01-01 12:23:39                  Lunch                      0
174  ORDC00650  2018-12-07  19:19:26     Dinner          NS                      [('Shrimp', 4), ('Pasta', 1)]       243.50     37.810836    144.988188                    0                    8.531     14.505704        2018-12-07 1900-01-01 19:19:26                 Dinner                      0
191  ORDX09159  2018-01-28  08:50:42  Breakfast          BK  [('Coffee', 4), ('Cereal', 10), ('Eggs', 2), (...       405.25     37.810554    144.938214                    0                    9.898     16.939278        2018-01-28 1900-01-01 08:50:42              Breakfast                      0
198  ORDK02764  2018-12-08  19:19:26     Dinner          BK                 [('Fish&Chips', 1), ('Salmon', 3)]       158.00     37.814982    144.948485                    0                    9.375     18.373846        2018-12-08 1900-01-01 19:19:26                 Dinner                      0
252  ORDK03212  2018-09-01  16:06:45     Dinner          BK                  [('Fish&Chips', 3), ('Pasta', 5)]       242.50     37.816265    144.955734                    0                    8.431     17.608013        2018-09-01 1900-01-01 16:06:45                 Dinner                      0
310  ORDZ08877  2018-11-09  18:18:35     Dinner          NS       [('Shrimp', 8), ('Salmon', 4), ('Pasta', 3)]       678.50     37.803444    145.010994                    0                   10.017     16.395423        2018-11-09 1900-01-01 18:18:35                 Dinner                      0
312  ORDZ01393  2018-08-10  15:16:03      Lunch          NS      [('Fries', 4), ('Burger', 1), ('Chicken', 9)]       367.00     37.817856    144.952689                    0                   10.588     15.982495        2018-08-10 1900-01-01 15:16:03                  Lunch                      0
313  ORDA05701  2018-03-04  10:01:41  Breakfast          BK                     [('Cereal', 9), ('Coffee', 4)]       219.00     37.824122    144.936281                    0                   10.563     17.737613        2018-03-04 1900-01-01 10:01:41              Breakfast                      0
321  ORDJ02382  2018-05-10  12:13:31      Lunch          TP                     [('Steak', 9), ('Chicken', 3)]       501.00     37.801509    144.963855                    0                    9.585     13.170230        2018-05-10 1900-01-01 12:13:31                  Lunch                      0
346  ORDB08924  2018-10-25  17:48:10     Dinner          TP  [('Fish&Chips', 5), ('Shrimp', 2), ('Pasta', 9...       858.50     37.807766    144.969851                    0                    9.197     13.633943        2018-10-25 1900-01-01 17:48:10                 Dinner                      0
357  ORDJ08420  2018-09-27  16:57:27     Dinner          TP  [('Pasta', 6), ('Shrimp', 6), ('Salmon', 10), ...      1179.00     37.807818    144.943761                    0                   10.023     14.239296        2018-09-27 1900-01-01 16:57:27                 Dinner                      0
369  ORDC05688  2018-06-27  13:54:55      Lunch          NS  [('Steak', 8), ('Salad', 3), ('Chicken', 10), ...       991.60     37.804136    144.917720                    0                   11.440     17.136585        2018-06-27 1900-01-01 13:54:55                  Lunch                      0
371  ORDB07187  2018-07-22  14:35:29      Lunch          TP        [('Steak', 10), ('Salad', 8), ('Fries', 1)]       599.60     37.812885    144.990264                    0                   10.058     14.886910        2018-07-22 1900-01-01 14:35:29                  Lunch                      0
420  ORDZ00973  2018-12-29  20:00:00     Dinner          NS   [('Shrimp', 9), ('Pasta', 3), ('Fish&Chips', 1)]       603.50     37.813305    144.971319                    0                    7.716     15.153195        2018-12-29 1900-01-01 20:00:00                 Dinner                      0
431  ORDC01081  2018-11-21  18:38:52     Dinner          NS  [('Pasta', 10), ('Fish&Chips', 8), ('Shrimp', ...      1451.00     37.807806    144.982755                    0                    7.801     13.948558        2018-11-21 1900-01-01 18:38:52                 Dinner                      0
432  ORDC08245  2018-07-24  14:45:38      Lunch          NS      [('Steak', 1), ('Chicken', 4), ('Burger', 7)]       390.00     37.817673    144.969795                    0                    8.600     14.069180        2018-07-24 1900-01-01 14:45:38                  Lunch                      0
439  ORDY00987  2018-06-24  13:44:47      Lunch          TP                       [('Salad', 2), ('Fries', 1)]        46.40     37.825367    144.982814                    0                    8.954     13.726410        2018-06-24 1900-01-01 13:44:47                  Lunch                      0
462  ORDB05226  2018-10-22  17:38:01     Dinner          TP  [('Pasta', 4), ('Salmon', 4), ('Shrimp', 8), (...       951.00     37.802627    144.981950                    0                   10.270     14.047172        2018-10-22 1900-01-01 17:38:01                 Dinner                      0
466  ORDA07348  2018-08-13  15:26:11      Lunch          BK         [('Fries', 4), ('Salad', 4), ('Steak', 5)]       341.80     37.824260    144.970063                    0                    8.081     13.712238        2018-08-13 1900-01-01 15:26:11                  Lunch                      0
483  ORDB01213  2018-09-02  16:06:45     Dinner          TP                      [('Salmon', 6), ('Pasta', 9)]       493.50     37.813420    144.965710                    0                    8.222     13.899996        2018-09-02 1900-01-01 16:06:45                 Dinner                      0
484  ORDY06419  2018-05-10  12:13:31      Lunch          TP  [('Chicken', 2), ('Burger', 6), ('Fries', 9), ...       512.80     37.801513    144.963901                    0                    9.585     13.184378        2018-05-10 1900-01-01 12:13:31                  Lunch                      0
490  ORDX05790  2018-11-25  18:49:00     Dinner          BK  [('Shrimp', 10), ('Fish&Chips', 8), ('Pasta', 5)]       957.50     37.806092    144.958433                    0                    7.842     17.423627        2018-11-25 1900-01-01 18:49:00                 Dinner                      0

In [24]:
for index, loc in dirty[-1*dirty['customer_lat'] < 0].iterrows():
    if dirty.at[index,'error'] == '':
        dirty.at[index,'customer_lat'] = -1*dirty.at[index,'customer_lat']
        dirty.at[index, 'error'] = 'customer_lat no minus'
dirty[-1*dirty['customer_lat'] < 0]

Empty DataFrame
Columns: [order_id, date, time, order_type, branch_code, order_items, order_price, customer_lat, customer_lon, customerHasloyalty?, distance_to_customer_KM, delivery_fee, error, date_fix, compared_time, order_type_timechecked, order_items_menucheck]
Index: []

In [25]:
len(dirty[dirty['error'] != ''])

152

So there are 152 columns so far has been fixed

In [26]:
#fix the wrong item in order_item
def total_price_check(meal,items,total_price):
    menu_qtt = re.findall(r'[0-9]+', items)
    menu_item = re.findall(r'[a-zA-Z&]+', items) 
    count = 0
  
    if meal == 'Breakfast':
        take_price = bprice
        meal_list = Breakfast
    if meal == 'Lunch':
        take_price = lprice
        meal_list = Lunch
    if meal == 'Dinner':
        take_price = dprice 
        meal_list = Dinner
    calculated = 0  
    i = 0
    for item in menu_item:
        if item in meal_list:
            calculated = calculated + int(menu_qtt[i])*take_price[item]
            i+=1
   
    return calculated
def diff(a,b):
    if abs(a-b) < 0.1:
        return 0
    else:
        return 1

In [27]:
dirty['calculated_total_price'] = dirty[['order_type','order_items','order_price']].apply(lambda x: total_price_check(*x), axis=1)

In [28]:
dirty['error_total_price'] = dirty[['calculated_total_price','order_price']].apply(lambda x:diff(*x),axis =1)

In [29]:
len(dirty[dirty['error_total_price'] == 1])

37

So there are 37 errors in total price, which is not calculated correctly

In [30]:
for index, loc in  dirty[dirty['error_total_price'] == 1].iterrows():
    dirty.at[index,'order_price'] = dirty.at[index,'calculated_total_price']
    dirty.at[index,'error'] = 'wrong order_price'

In [31]:
# from here we can get node
len(dirty[dirty['error'] != ''])

189

In [32]:
#check 
dirty['branch_code'].unique()

array(['BK', 'NS', 'TP', 'ns', 'bk', 'tp'], dtype=object)

In [33]:
#check
dirty['branch_code_check'] = dirty['branch_code'].apply(lambda x:x.upper())
len(dirty[dirty['branch_code_check'] != dirty['branch_code']])

27

However we dont know if the branch_code is incorrect, or the distance is incorrect.

In [34]:
for index, loc in dirty[dirty['branch_code_check'] != dirty['branch_code']].iterrows():
    dirty.at[index, 'branch_code'] = dirty.at[index,'branch_code_check']
    dirty.at[index,'error'] = 'branch_code'

In [35]:
len(dirty[dirty['error'] != ''])

216

In [36]:
restaurants_csv = pd.read_csv('data/branches.csv')
nodes = pd.read_csv('data/nodes.csv')
edges = pd.read_csv('data/edges.csv')
nodes_dict = nodes.T.to_dict()
def get_node(lat,lon):
    for i in range(len(l)):
        if l[i]['lat'] == lat and l[i]['lon'] == lon:
            return int(l[i]['node'])
            break
l = []
for i in range(len(nodes_dict)):
    l.append(nodes_dict[i])
dirty['node'] = dirty[['customer_lat','customer_lon']].apply(lambda x: get_node(*x), axis=1)
dirty['distance_to_customer_KM'] = dirty['distance_to_customer_KM'].apply(lambda x: round(x,3))

In [37]:
#check if all node correctly found
dirty['node'].isnull().sum()

0

In [38]:
#if all node okay then we can check distance

In [39]:
import networkx as nx
G = nx.Graph() 
nodes['node'] = nodes['node'].apply(lambda x:int(x))
G.add_nodes_from(list(nodes['node']))
edges = edges[['u','v','distance(m)','street type','speed(km/h)']]
edges_dis = edges[['u','v','distance(m)']]
edges_distance_tuple = [tuple(x) for x in edges_dis.values]
for start, end, length in edges_distance_tuple:
    # You can attach any attributes you want when adding the edge
    G.add_edge(int(start), int(end), length=length)
restaurants_csv['node'] = restaurants_csv[['branch_lat','branch_lon']].apply(lambda x: get_node(*x), axis=1)
NS = int(restaurants_csv[restaurants_csv['branch_code'] == 'NS']['node'][0])
TP = int(restaurants_csv[restaurants_csv['branch_code'] == 'TP']['node'][1])
BK = int(restaurants_csv[restaurants_csv['branch_code'] == 'BK']['node'][2])

In [40]:
def distance(u,v):
    dist = 0.
    dist = nx.shortest_path_length(G, u, v,weight="length")/1000
    return round(dist,3)

In [41]:
def get_r_node(res_name):
    if res_name == 'NS':
        return NS
    elif res_name == 'BK':
        return BK
    else:
        return TP

In [42]:
dirty['br_node'] = dirty['branch_code'].apply(lambda x:get_r_node(x))

In [43]:
dirty['distance_check'] = dirty[['br_node','node']].apply(lambda x: distance(*x), axis=1)

In [56]:
dirty[dirty['distance_check'] != dirty['distance_to_customer_KM']][['br_node','node','branch_code','distance_check','distance_to_customer_KM','error']]

        br_node        node branch_code  distance_check  distance_to_customer_KM        error
8    1889485053   575386414          BK           6.400                    6.619
11   1889485053  1492153102          BK           8.327                    7.823
13   2455254505  4735909077          NS           8.431                   10.022  branch_code
18   1390575046    92130447          TP           9.828                    7.282
24   1390575046  1463547090          TP          10.929                    4.548
32   1889485053   575390860          BK           6.333                    9.192  branch_code
40   1390575046  6206936510          TP          10.092                    9.795
46   2455254505  4157118490          NS           9.840                   10.304  branch_code
48   1889485053   222975227          BK           6.181                    9.817
49   1889485053  4735836883          BK           8.848                   10.259
51   2455254505  4909776703          NS          10.612                    9.575
60   1390575046   471340997          TP           9.521                    6.619  branch_code
61   1390575046  1466671807          TP          10.513                   11.395
64   2455254505   571731495          NS          10.367                    8.843
76   2455254505   746918004          NS           9.414                    8.879  branch_code
87   2455254505  4283908167          NS           9.497                    4.078
89   1390575046   575387776          TP           9.274                   11.395
91   1390575046   547568985          TP           9.991                   10.859
116  2455254505   332797041          NS           9.276                    7.731
120  2455254505   202432793          NS          11.071                   10.017
139  1889485053  3210156254          BK           8.843                    9.809
142  1889485053   667680173          BK           7.035                    7.671
149  2455254505  2190483591          NS           7.850                    8.262  branch_code
150  1390575046   702376247          TP          10.347                    9.231
153  1889485053   607606103          BK           7.603                    7.903
156  2455254505  3367904411          NS           7.404                    8.660  branch_code
158  1889485053  1132023816          BK           9.380                   10.639
182  2455254505  2457712024          NS           7.096                   10.191  branch_code
185  1889485053   387153077          BK           8.458                    7.987  branch_code
200  1889485053  1492150945          BK           8.557                    8.714
202  1889485053  1463620928          BK           4.009                    8.811
213  1889485053   711333462          BK           8.001                    8.440
214  1889485053  4327696183          BK           6.678                    9.657  branch_code
219  1390575046   332546359          TP          10.112                   10.867
254  1390575046  2239389739          TP          10.867                    8.440
261  1390575046  2096325796          TP           9.857                    8.537
263  1889485053  2442297414          BK           8.810                    9.106  branch_code
266  1390575046  4716795584          TP           8.514                    9.238  branch_code
275  1390575046   708718062          TP           9.199                    6.181
280  1889485053   591233417          BK           9.143                    8.848
281  1889485053   496572522          BK           4.796                    6.181
291  2455254505  4299936439          NS          10.821                    4.633
292  1390575046  5058108331          TP           7.974                    6.797
293  1390575046   129279518          TP          11.466                    7.581
305  1390575046  3768710482          TP           7.867                    8.160
307  1889485053  1449431600          BK           6.851                    8.622  branch_code
318  2455254505  6167357855          NS           7.208                   10.341
319  1390575046  5856691447          TP           7.661                    6.930
322  1889485053   576874718          BK           6.351                   11.732
333  2455254505   686217262          NS           8.896                    7.822
349  1390575046   291966940          TP           9.994                    6.455  branch_code
355  1889485053  5448707282          BK          10.542                    8.639
361  1889485053   711783916          BK           9.268                    9.297  branch_code
366  1390575046  1594632471          TP           8.808                    8.371
368  2455254505  3222703090          NS           8.419                   10.003
376  2455254505   233314776          NS           6.991                   10.420
387  1390575046  3512300807          TP          11.635                    4.011  branch_code
390  1889485053   702365694          BK           9.589                    8.064
391  2455254505    36823673          NS           9.394                    8.619
414  1889485053    52452407          BK          10.371                   10.082  branch_code
418  2455254505   247012055          NS           7.555                    7.795
419  1390575046   560984864          TP           9.091                    9.182
426  1889485053   767584572          BK           6.726                    7.085
442  1889485053  4421481853          BK           7.062                    9.809  branch_code
474  2455254505  2265523382          NS           9.588                    9.724
495  1889485053  6058735408          BK          10.042                   10.452  branch_code

In [52]:
t = dirty[dirty['distance_check'] != dirty['distance_to_customer_KM']][['br_node','node','distance_check','branch_code','distance_to_customer_KM','error']]

In [53]:
t[t['error'] == 'branch_code']

        br_node        node  distance_check branch_code  distance_to_customer_KM        error
13   2455254505  4735909077           8.431          NS                   10.022  branch_code
32   1889485053   575390860           6.333          BK                    9.192  branch_code
46   2455254505  4157118490           9.840          NS                   10.304  branch_code
60   1390575046   471340997           9.521          TP                    6.619  branch_code
76   2455254505   746918004           9.414          NS                    8.879  branch_code
149  2455254505  2190483591           7.850          NS                    8.262  branch_code
156  2455254505  3367904411           7.404          NS                    8.660  branch_code
182  2455254505  2457712024           7.096          NS                   10.191  branch_code
185  1889485053   387153077           8.458          BK                    7.987  branch_code
214  1889485053  4327696183           6.678          BK                    9.657  branch_code
263  1889485053  2442297414           8.810          BK                    9.106  branch_code
266  1390575046  4716795584           8.514          TP                    9.238  branch_code
307  1889485053  1449431600           6.851          BK                    8.622  branch_code
349  1390575046   291966940           9.994          TP                    6.455  branch_code
361  1889485053   711783916           9.268          BK                    9.297  branch_code
387  1390575046  3512300807          11.635          TP                    4.011  branch_code
414  1889485053    52452407          10.371          BK                   10.082  branch_code
442  1889485053  4421481853           7.062          BK                    9.809  branch_code
495  1889485053  6058735408          10.042          BK                   10.452  branch_code

In [ ]:
distance(TP,4421481853)

In [ ]:
dirty[dirty['distance_check'] != dirty['distance_to_customer_KM']][['error']]

In [ ]:
dirty['error'].unique()

In [ ]:
dirty[dirty['distance_check'] != dirty['distance_to_customer_KM']]\
[['error',]]

There are 66 difference in customer distance, but we dont know if the columns

In [ ]:
dirty['ori_fee'] = 0.
for index, loc in tqdm(dirty.iterrows()):
    if loc['customerHasloyalty?'] == 1:
        dirty.at[index,'ori_fee'] = 2*dirty.at[index,'delivery_fee']
    else:
        dirty.at[index,'ori_fee'] = dirty.at[index,'delivery_fee']

In [ ]:
def day(x):
    if x == 5 or x == 6:
        return 1 #'Saturday' or Sunday
    else:
        return 0 # Weekday
    return
def timeofday(x):
    if x == 'Breakfast':
        return 0
    elif x == 'Lunch':
        return 1
    elif x == 'Dinner':
        return 2

In [ ]:
dirty.at[479,'date_fix']

In [ ]:
dirty['date'] = dirty['date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))
dirty['weekend'] = dirty['date'].apply(lambda x: day(x.weekday()))
dirty['timeofday'] = dirty['order_type'].apply(lambda x: timeofday(x))

In [ ]:
ns_notnull = dirty[dirty['ori_fee'].notnull()]
ns_notnull = ns_notnull[ns_notnull['error'] == '']
ns_notnull = ns_notnull[ns_notnull['distance_to_customer_KM'].notnull()]
ns_notnull = ns_notnull[ns_notnull['branch_code'] == 'NS']
ns = ns_notnull[['ori_fee','distance_to_customer_KM','timeofday','weekend']]

X = ns[['distance_to_customer_KM','timeofday','weekend']] # here we have 2 variables for multiple regression. If you just want to use one variable for simple linear regression, then use X = df['Interest_Rate'] for example.Alternatively, you may add additional variables within the brackets
Y = ns['ori_fee']
model_ns = sm.OLS(Y, X).fit()

pred_ori_ns = model_ns.predict(dirty[dirty['delivery_fee'].isnull()][dirty['branch_code'] == 'NS'][['distance_to_customer_KM','timeofday','weekend']])
#for index, loc in dirty[dirty['delivery_fee'].isnull()][dirty['branch_code'] == 'NS'][['ori_fee']].iterrows():
#    dirty.at[index,'ori_fee'] = pred_ori_ns[index]

In [ ]:
model_ns.summary()

In [ ]:
menu = dirty[['order_type','order_items']]
breakfast = []
for index, each in menu[menu['order_type'] == 'Breakfast'].iterrows():
    for x in re.findall(r'[a-zA-Z&]+', menu.at[index, 'order_items']):
        if x not in breakfast:
            breakfast.append(x)
breakfast