In [1]:
import pandas as pd
import numpy as np
import re

import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('display.max_columns', None)

import math
from datetime import datetime

import tqdm
from tqdm import tqdm_notebook as tqdm
from tqdm.autonotebook import tqdm
tqdm.pandas()

from sklearn import linear_model
import statsmodels.api as sm

import numpy as np
import matplotlib.pyplot as plt  # To visualize
from sklearn.linear_model import LinearRegression

import networkx

C:\ProgramData\Anaconda3\lib\site-packages\tqdm\autonotebook\__init__.py:14: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  " (e.g. in jupyter console)", TqdmExperimentalWarning)

In [2]:
missing = pd.read_csv('data/Group102_missing_data.csv')
missing.head()
org_col = missing.columns

In [3]:
restaurants_csv = pd.read_csv('data/branches.csv')
nodes = pd.read_csv('data/nodes.csv')
edges = pd.read_csv('data/edges.csv')
nodes_dict = nodes.T.to_dict()

In [4]:
def get_node(lat,lon):
    for i in range(len(l)):
        if l[i]['lat'] == lat and l[i]['lon'] == lon:
            return int(l[i]['node'])
            break
l = []
for i in range(len(nodes_dict)):
    l.append(nodes_dict[i])

In [5]:
def day(x):
    if x == 5 or x == 6:
        return 1 #'Saturday' or Sunday
    else:
        return 0 # Weekday
    return
def timeofday(x):
    if x == 'Breakfast':
        return 0
    elif x == 'Lunch':
        return 1
    elif x == 'Dinner':
        return 2

In [6]:
missing['node'] = missing[['customer_lat','customer_lon']].apply(lambda x: get_node(*x), axis=1)
missing['distance_to_customer_KM'] = missing['distance_to_customer_KM'].apply(lambda x: round(x,3))
missing['date'] = missing['date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))
missing['weekend'] = missing['date'].apply(lambda x: day(x.weekday()))
missing['timeofday'] = missing['order_type'].apply(lambda x: timeofday(x))

In [7]:
import networkx as nx
G = nx.Graph() 
nodes['node'] = nodes['node'].apply(lambda x:int(x))
G.add_nodes_from(list(nodes['node']))
edges = edges[['u','v','distance(m)','street type','speed(km/h)']]
edges_dis = edges[['u','v','distance(m)']]
edges_distance_tuple = [tuple(x) for x in edges_dis.values]
for start, end, length in edges_distance_tuple:
    # You can attach any attributes you want when adding the edge
    G.add_edge(int(start), int(end), length=length)

In [8]:
restaurants_csv['node'] = restaurants_csv[['branch_lat','branch_lon']].apply(lambda x: get_node(*x), axis=1)
NS = int(restaurants_csv[restaurants_csv['branch_code'] == 'NS']['node'][0])
TP = int(restaurants_csv[restaurants_csv['branch_code'] == 'TP']['node'][1])
BK = int(restaurants_csv[restaurants_csv['branch_code'] == 'BK']['node'][2])

In [9]:
def distance(u,v):
    dist = 0.
    dist = nx.shortest_path_length(G, u, v,weight="length")/1000
    return round(dist,3)

In [10]:
missing.isnull().sum()

order_id                     0
date                         0
time                         0
order_type                   0
branch_code                100
order_items                  0
order_price                  0
customer_lat                 0
customer_lon                 0
customerHasloyalty?          0
distance_to_customer_KM     50
delivery_fee                50
node                         0
weekend                      0
timeofday                    0
dtype: int64

In [11]:
def branch_and_distance(u):
    distance_to_NS = distance(u,NS)
    distance_to_TP = distance(u,TP)
    distance_to_BK = distance(u,BK)
    branch = ''
    dist = min(distance_to_NS,distance_to_TP,distance_to_BK)
    if dist == distance_to_NS:
        branch = 'NS'
    elif dist == distance_to_TP:
        branch = 'TP'
    else:
        branch = 'BK'
    return branch, dist

In [12]:
for index, loc in tqdm(missing[missing['branch_code'].isnull()].iterrows()):
    missing.at[index,'dist_to_BK'] = distance(missing.at[index,'node'],BK)
    missing.at[index,'dist_to_TP'] = distance(missing.at[index,'node'],TP)
    missing.at[index,'dist_to_NS'] = distance(missing.at[index,'node'],NS)

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

In [13]:
bmissing = missing[missing['branch_code'].isnull()]

In [14]:
def find_branch(u, dist):
    distance_to_NS = distance(u,NS)
    distance_to_TP = distance(u,TP)
    distance_to_BK = distance(u,BK)
    branch = ''
    if abs(dist - distance_to_NS) < 0.1:
        return 'NS'
    elif abs(dist - distance_to_TP) < 0.1:
        return 'TP'
    elif abs(dist - distance_to_BK) < 0.1:
        return 'BK'

In [15]:
#Here we can find the missing branchcode based on the distance_to_customer_KM and node
missing['fill'] = 0
for index, loc in bmissing.iterrows():
    missing.at[index,'branch_code'] = find_branch(missing.at[index,'node'],missing.at[index,'distance_to_customer_KM'])
    missing.at[index,'fill'] = 1

In [16]:
missing[missing['fill'] == 1]

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee,node,weekend,timeofday,dist_to_BK,dist_to_TP,dist_to_NS,fill
4,ORDY09101,2018-02-01,09:00:50,Breakfast,NS,"[('Pancake', 3), ('Cereal', 4), ('Eggs', 4)]",244.75,-37.820618,144.979130,0,8.803,11.207488,1594632446,0,0,7.168,8.803,8.740,1
5,ORDC10686,2018-03-20,10:32:06,Breakfast,NS,"[('Pancake', 8), ('Coffee', 6), ('Cereal', 8)]",407.00,-37.812117,144.959222,0,7.991,12.864128,6167489431,0,0,7.925,8.579,7.991,1
30,ORDC06555,2018-03-30,10:52:23,Breakfast,NS,"[('Pancake', 5), ('Coffee', 3), ('Cereal', 1)]",164.75,-37.816239,144.964071,0,8.279,13.906091,4326586222,0,0,7.758,7.779,8.279,1
31,ORDA10257,2018-08-07,15:16:03,Lunch,BK,"[('Salad', 2), ('Chicken', 6)]",226.40,-37.823017,144.984747,0,6.749,12.168441,2296723119,0,1,6.749,8.947,9.453,1
34,ORDA09752,2018-05-29,12:54:05,Lunch,None,"[('Chicken', 4), ('Fries', 1), ('Steak', 8), (...",672.00,-37.816727,145.008912,0,NaN,8.910156,5563404257,0,1,3.873,11.602,10.761,1
36,ORDA05485,2018-11-04,18:08:27,Dinner,BK,"[('Pasta', 4), ('Salmon', 3), ('Fish&Chips', 6)]",443.00,-37.818868,144.952218,0,8.921,17.842693,1288940402,1,2,8.921,8.636,9.311,1
41,ORDZ07539,2018-11-27,18:59:09,Dinner,NS,"[('Salmon', 4), ('Pasta', 5)]",301.50,-37.823396,145.010544,0,11.495,17.290253,4353937738,0,2,4.833,11.593,11.495,1
43,ORDI10402,2018-12-21,19:39:43,Dinner,NS,"[('Fish&Chips', 6), ('Salmon', 4)]",374.00,-37.814980,144.932788,0,9.171,15.449373,6197211588,0,2,10.960,11.112,9.171,1
44,ORDZ08014,2018-07-05,14:05:04,Lunch,NS,"[('Chicken', 8), ('Salad', 5)]",342.00,-37.803167,145.004542,0,9.349,15.369150,6097143765,0,1,5.425,12.083,9.349,1
45,ORDC03174,2018-08-09,15:16:03,Lunch,None,"[('Burger', 6), ('Chicken', 5), ('Fries', 4), ...",531.60,-37.805317,144.940949,0,NaN,14.502396,702363974,0,1,9.506,10.412,9.307,1
49,ORDC06727,2018-03-22,10:32:06,Breakfast,None,"[('Pancake', 5), ('Coffee', 7)]",173.75,-37.800244,144.955044,0,NaN,12.762549,663120916,0,0,8.506,9.826,7.598,1
53,ORDB06683,2018-11-03,18:08:27,Dinner,None,"[('Fish&Chips', 4), ('Shrimp', 3), ('Pasta', 3)]",384.50,-37.811583,144.945728,0,NaN,15.724240,579971507,1,2,9.955,9.874,9.932,1
54,ORDX08128,2018-10-26,17:48:10,Dinner,None,"[('Pasta', 9), ('Shrimp', 3), ('Fish&Chips', 1...",1046.50,-37.808213,144.974359,0,NaN,13.202494,6207152063,0,2,6.430,9.319,7.204,1
55,ORDX09008,2018-06-27,13:44:47,Lunch,BK,"[('Salad', 6), ('Burger', 5)]",258.20,-37.804485,145.003979,0,5.681,11.250325,2472999985,0,1,5.681,12.339,9.755,1
66,ORDY04138,2018-06-16,13:24:30,Lunch,TP,"[('Salad', 6), ('Chicken', 9), ('Burger', 10),...",1052.20,-37.811780,144.998829,0,10.821,15.409169,6207106485,1,1,4.330,10.821,9.477,1
68,ORDI08780,2018-07-20,14:35:29,Lunch,None,"[('Burger', 1), ('Salad', 3), ('Chicken', 8)]",338.60,-37.814753,144.941839,0,NaN,15.083263,122756701,0,1,9.541,9.951,9.565,1
72,ORDI07653,2018-05-27,12:43:56,Lunch,NS,"[('Chicken', 3), ('Steak', 3), ('Burger', 3), ...",496.00,-37.804386,144.928302,0,10.511,18.268786,581749994,1,1,10.688,11.388,10.511,1
78,ORDA09083,2018-08-24,15:46:28,Lunch,None,"[('Burger', 1), ('Steak', 5)]",256.00,-37.821689,144.984232,0,NaN,12.058556,577456661,0,1,6.483,9.036,9.168,1
91,ORDA08173,2018-01-20,08:30:25,Breakfast,None,"[('Cereal', 4), ('Pancake', 2), ('Coffee', 6)]",177.50,-37.806623,144.959140,0,NaN,14.894707,711334313,1,0,7.853,9.046,7.753,1
92,ORDJ04238,2018-03-05,10:01:41,Breakfast,TP,"[('Eggs', 6), ('Pancake', 3), ('Coffee', 2), (...",429.75,-37.816316,144.951167,0,9.699,12.166890,579490932,0,0,9.769,9.699,10.040,1
95,ORDY10968,2018-05-25,12:43:56,Lunch,TP,"[('Burger', 5), ('Steak', 4), ('Salad', 1), ('...",376.20,-37.825268,144.950575,0,8.568,12.203984,452381000,0,1,9.337,8.568,10.195,1
96,ORDI08684,2018-04-08,11:12:40,Breakfast,None,"[('Pancake', 2), ('Eggs', 3), ('Cereal', 8), (...",342.50,-37.824272,144.988693,0,NaN,16.604416,643990753,1,0,6.386,9.206,9.599,1
98,ORDZ08087,2018-01-05,08:00:00,Breakfast,None,"[('Cereal', 9), ('Pancake', 9), ('Coffee', 2),...",466.25,-37.821418,144.961457,1,NaN,6.763316,591398356,0,0,8.210,7.441,9.076,1
102,ORDZ10485,2018-09-30,16:57:27,Dinner,NS,"[('Shrimp', 10), ('Fish&Chips', 4), ('Pasta', 9)]",927.50,-37.814917,144.968020,0,7.938,15.369174,2020835025,1,2,7.392,8.127,7.938,1
116,ORDA10881,2018-10-10,17:17:44,Dinner,NS,"[('Shrimp', 10), ('Pasta', 5), ('Fish&Chips', ...",1297.50,-37.812306,144.953359,0,8.483,15.450261,5002595077,0,2,8.483,9.013,8.505,1
119,ORDC07214,2018-12-01,18:59:09,Dinner,NS,"[('Pasta', 5), ('Fish&Chips', 9), ('Shrimp', 1...",1320.50,-37.800019,145.005570,0,9.537,17.486155,305912813,1,2,4.853,12.416,9.537,1
123,ORDY01229,2018-12-19,19:39:43,Dinner,TP,"[('Shrimp', 7), ('Salmon', 4), ('Fish&Chips', 2)]",612.00,-37.820974,144.955074,0,8.182,12.324780,1479930094,0,2,8.588,8.182,9.407,1
140,ORDA01840,2018-01-28,08:50:42,Breakfast,None,"[('Eggs', 7), ('Pancake', 2), ('Coffee', 3), (...",372.00,-37.823323,144.942988,0,NaN,17.583869,3098158410,1,0,9.993,9.266,10.678,1
146,ORDZ03951,2018-02-20,09:41:24,Breakfast,NS,"[('Pancake', 6), ('Coffee', 7), ('Cereal', 1),...",263.00,-37.820168,144.956567,0,9.222,14.253371,144720265,0,0,8.470,8.065,9.222,1
154,ORDA09872,2018-03-04,10:01:41,Breakfast,BK,"[('Eggs', 7), ('Cereal', 4), ('Coffee', 10), (...",361.50,-37.802377,144.963164,0,7.836,15.317217,3317846711,1,0,7.836,9.512,6.954,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,ORDI02985,2018-07-25,14:45:38,Lunch,None,"[('Burger', 1), ('Chicken', 2), ('Salad', 6), ...",549.20,-37.823298,144.976371,0,NaN,15.492034,2700682443,0,1,7.354,8.140,9.054,1
333,ORDI00312,2018-07-17,14:25:21,Lunch,None,"[('Salad', 3), ('Steak', 6), ('Burger', 2)]",383.60,-37.808802,144.948404,0,NaN,13.836416,3210156249,0,1,8.940,9.639,8.779,1
334,ORDI02346,2018-07-21,14:35:29,Lunch,NS,"[('Chicken', 2), ('Steak', 10), ('Salad', 9), ...",900.80,-37.812538,144.974271,0,7.684,15.177173,2279153645,1,1,6.755,8.713,7.684,1
345,ORDY06977,2018-11-10,18:18:35,Dinner,None,"[('Salmon', 6), ('Shrimp', 1)]",300.00,-37.816280,144.966995,0,NaN,14.154466,3924931354,1,2,7.473,7.879,8.180,1
346,ORDY10488,2018-07-22,14:45:38,Lunch,None,"[('Steak', 4), ('Fries', 10), ('Chicken', 5), ...",773.40,-37.821870,145.010320,0,NaN,16.019654,260907240,1,1,4.622,11.565,11.305,1
361,ORDA02512,2018-10-11,17:17:44,Dinner,NS,"[('Shrimp', 6), ('Salmon', 10), ('Fish&Chips',...",1049.00,-37.811867,144.952968,0,8.469,15.413136,5002595132,0,2,8.469,8.999,8.491,1
365,ORDJ00710,2018-07-13,14:25:21,Lunch,TP,"[('Burger', 1), ('Salad', 8), ('Steak', 4)]",348.60,-37.821859,144.952199,0,8.451,11.374528,589763616,0,1,8.858,8.451,9.636,1
374,ORDC07425,2018-10-11,17:17:44,Dinner,NS,"[('Fish&Chips', 8), ('Shrimp', 2)]",388.00,-37.812095,144.953415,0,8.448,14.649653,5002595108,0,2,8.426,8.956,8.448,1
380,ORDX10871,2018-10-22,17:48:10,Dinner,BK,"[('Salmon', 3), ('Fish&Chips', 5), ('Pasta', 1...",757.50,-37.819141,144.965072,0,7.822,14.608033,2400295348,0,2,7.822,7.627,8.721,1
387,ORDJ07383,2018-12-21,19:39:43,Dinner,None,"[('Salmon', 6), ('Fish&Chips', 5), ('Shrimp', 2)]",529.00,-37.814115,144.932876,0,NaN,14.867275,6197211479,0,2,11.060,11.212,9.071,1
389,ORDC04261,2018-11-18,18:38:52,Dinner,None,"[('Fish&Chips', 1), ('Pasta', 6), ('Shrimp', 7...",988.00,-37.817939,145.008530,0,NaN,18.658291,1458422297,1,2,4.005,11.477,10.828,1
393,ORDC00568,2018-03-10,10:11:49,Breakfast,NS,"[('Cereal', 5), ('Eggs', 3), ('Coffee', 8)]",231.00,-37.819732,144.945316,0,9.765,17.163807,6024224413,1,0,9.556,9.292,9.765,1
407,ORDA07528,2018-05-11,12:13:31,Lunch,None,"[('Chicken', 7), ('Salad', 5)]",310.00,-37.825438,144.953472,0,NaN,15.683685,2421601624,0,1,9.459,8.690,10.321,1
410,ORDZ01798,2018-06-26,13:44:47,Lunch,None,"[('Chicken', 10), ('Salad', 3), ('Burger', 8),...",664.60,-37.824660,144.984689,0,NaN,14.691332,746912607,0,1,6.841,8.916,9.487,1
412,ORDY08861,2018-02-16,09:31:16,Breakfast,TP,"[('Pancake', 6), ('Cereal', 1), ('Coffee', 10)]",241.50,-37.812055,144.950998,0,9.178,11.597542,332544861,0,0,8.612,9.178,8.634,1
417,ORDA09712,2018-10-28,17:58:18,Dinner,None,"[('Salmon', 4), ('Shrimp', 8)]",596.00,-37.809566,144.947486,0,NaN,18.448089,4655129060,1,2,9.038,9.707,8.947,1
425,ORDB00774,2018-06-16,13:24:30,Lunch,TP,"[('Steak', 1), ('Fries', 5), ('Chicken', 10)]",425.00,-37.812421,145.009823,0,11.935,16.220908,728165676,1,1,3.385,11.935,10.427,1
428,ORDC03062,2018-07-28,14:55:46,Lunch,None,"[('Fries', 5), ('Burger', 1), ('Chicken', 2), ...",483.20,-37.821261,144.957795,0,NaN,16.330631,591342509,1,1,8.443,7.957,9.289,1
429,ORDY03244,2018-10-28,17:58:18,Dinner,TP,"[('Pasta', 1), ('Salmon', 9), ('Shrimp', 4)]",612.50,-37.821492,144.969235,0,7.767,13.652252,846569977,1,2,7.854,7.767,8.774,1
431,ORDK05312,2018-07-20,14:35:29,Lunch,None,"[('Steak', 10), ('Salad', 9), ('Chicken', 1), ...",982.80,-37.812293,144.954022,0,NaN,14.011704,1833115017,0,1,8.315,8.861,8.337,1
436,ORDB08696,2018-05-22,12:33:48,Lunch,None,"[('Steak', 1), ('Burger', 9), ('Fries', 8), ('...",740.00,-37.820091,145.002424,0,NaN,13.979012,2877343036,0,1,4.771,10.913,10.491,1
437,ORDY00735,2018-08-17,15:36:20,Lunch,TP,"[('Steak', 9), ('Salad', 1), ('Chicken', 3), (...",704.20,-37.817338,144.965831,0,7.688,11.042306,4451156235,0,1,7.611,7.688,8.390,1
440,ORDI03138,2018-06-21,13:34:38,Lunch,None,"[('Salad', 8), ('Chicken', 5)]",297.60,-37.814216,144.972871,0,NaN,13.613605,3687642861,0,1,6.911,8.517,7.829,1
443,ORDC01780,2018-01-18,08:30:25,Breakfast,NS,"[('Coffee', 9), ('Eggs', 10), ('Cereal', 8), (...",528.25,-37.809311,144.929669,1,10.549,7.452133,581703550,0,0,11.268,11.646,10.549,1
447,ORDA06423,2018-07-25,14:45:38,Lunch,NS,"[('Fries', 7), ('Chicken', 7)]",308.00,-37.809271,144.955302,0,8.253,14.569719,4520380495,0,1,8.253,8.946,8.162,1
453,ORDK06183,2018-01-12,08:20:16,Breakfast,NS,"[('Pancake', 6), ('Coffee', 10), ('Cereal', 10...",628.50,-37.807243,144.958270,1,7.905,6.223005,711331605,0,0,7.905,9.051,7.809,1
464,ORDB03413,2018-10-06,17:07:36,Dinner,TP,"[('Fish&Chips', 9), ('Salmon', 5), ('Pasta', 2...",683.00,-37.800061,144.961166,0,9.746,15.145268,4787373516,1,2,9.330,9.746,9.906,1
468,ORDY09002,2018-06-23,13:44:47,Lunch,None,"[('Salad', 5), ('Steak', 9), ('Chicken', 10), ...",1145.00,-37.798871,144.919834,0,NaN,17.131411,2140731827,1,1,11.840,12.363,11.670,1
482,ORDI02090,2018-04-13,11:22:49,Breakfast,NS,"[('Pancake', 1), ('Eggs', 1), ('Cereal', 2)]",88.25,-37.801725,144.947333,0,8.371,13.419133,3222703095,0,0,9.118,10.296,8.371,1
489,ORDC00257,2018-09-14,16:27:02,Dinner,NS,"[('Pasta', 4), ('Shrimp', 6), ('Fish&Chips', 7)]",679.00,-37.800379,144.954199,0,7.606,13.322603,2096325829,0,2,8.589,9.909,7.606,1

In [17]:
missing.isnull().sum()

order_id                     0
date                         0
time                         0
order_type                   0
branch_code                 50
order_items                  0
order_price                  0
customer_lat                 0
customer_lon                 0
customerHasloyalty?          0
distance_to_customer_KM     50
delivery_fee                50
node                         0
weekend                      0
timeofday                    0
dist_to_BK                 400
dist_to_TP                 400
dist_to_NS                 400
fill                         0
dtype: int64

In [18]:
len(missing[missing['branch_code'].isnull()])

50

In [19]:
for index, loc in tqdm(missing.iterrows()):
    if loc['customerHasloyalty?'] == 1:
        missing.at[index,'ori_fee'] = 2*missing.at[index,'delivery_fee']
    else:
        missing.at[index,'ori_fee'] = missing.at[index,'delivery_fee']

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

In [20]:
 len(missing[missing['ori_fee'].notnull()])

450

In [21]:
ns_notnull = missing[missing['ori_fee'].notnull()]
ns_notnull = ns_notnull[ns_notnull['distance_to_customer_KM'].notnull()]
ns_notnull = ns_notnull[ns_notnull['branch_code'] == 'NS']
ns = ns_notnull[['ori_fee','distance_to_customer_KM','timeofday','weekend']]

X = ns[['distance_to_customer_KM','timeofday','weekend']] # here we have 2 variables for multiple regression. If you just want to use one variable for simple linear regression, then use X = df['Interest_Rate'] for example.Alternatively, you may add additional variables within the brackets
Y = ns['ori_fee']
model_ns = sm.OLS(Y, X).fit()
model_ns.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                ori_fee   R-squared (uncentered):                   0.998
Model:                            OLS   Adj. R-squared (uncentered):              0.997
Method:                 Least Squares   F-statistic:                          1.705e+04
Date:                Wed, 02 Oct 2019   Prob (F-statistic):                   3.59e-164
Time:                        02:44:52   Log-Likelihood:                         -143.76
No. Observations:                 129   AIC:                                      293.5
Df Residuals:                     126   BIC:                                      302.1
Df Model:                           3
Covariance Type:            nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------
distance_to_customer_KM     1.5367      0.012    132.715      0.000       1.514       1.560
timeofday                   0.6063      0.078      7.780      0.000       0.452       0.761
weekend                     2.1365      0.151     14.128      0.000       1.837       2.436
==============================================================================
Omnibus:                        0.638   Durbin-Watson:                   2.308
Prob(Omnibus):                  0.727   Jarque-Bera (JB):                0.567
Skew:                          -0.161   Prob(JB):                        0.753
Kurtosis:                       2.954   Cond. No.                         20.7
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

We have coefficients = 1.5367, 0.6063, 2.1365

In [22]:
ns_isnull = missing[missing['ori_fee'].notnull()]
ns_isnull = ns_isnull[ns_isnull['distance_to_customer_KM'].isnull()]
ns_isnull

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee,node,weekend,timeofday,dist_to_BK,dist_to_TP,dist_to_NS,fill,ori_fee
34,ORDA09752,2018-05-29,12:54:05,Lunch,None,"[('Chicken', 4), ('Fries', 1), ('Steak', 8), (...",672.00,-37.816727,145.008912,0,NaN,8.910156,5563404257,0,1,3.873,11.602,10.761,1,8.910156
45,ORDC03174,2018-08-09,15:16:03,Lunch,None,"[('Burger', 6), ('Chicken', 5), ('Fries', 4), ...",531.60,-37.805317,144.940949,0,NaN,14.502396,702363974,0,1,9.506,10.412,9.307,1,14.502396
49,ORDC06727,2018-03-22,10:32:06,Breakfast,None,"[('Pancake', 5), ('Coffee', 7)]",173.75,-37.800244,144.955044,0,NaN,12.762549,663120916,0,0,8.506,9.826,7.598,1,12.762549
53,ORDB06683,2018-11-03,18:08:27,Dinner,None,"[('Fish&Chips', 4), ('Shrimp', 3), ('Pasta', 3)]",384.50,-37.811583,144.945728,0,NaN,15.724240,579971507,1,2,9.955,9.874,9.932,1,15.724240
54,ORDX08128,2018-10-26,17:48:10,Dinner,None,"[('Pasta', 9), ('Shrimp', 3), ('Fish&Chips', 1...",1046.50,-37.808213,144.974359,0,NaN,13.202494,6207152063,0,2,6.430,9.319,7.204,1,13.202494
68,ORDI08780,2018-07-20,14:35:29,Lunch,None,"[('Burger', 1), ('Salad', 3), ('Chicken', 8)]",338.60,-37.814753,144.941839,0,NaN,15.083263,122756701,0,1,9.541,9.951,9.565,1,15.083263
78,ORDA09083,2018-08-24,15:46:28,Lunch,None,"[('Burger', 1), ('Steak', 5)]",256.00,-37.821689,144.984232,0,NaN,12.058556,577456661,0,1,6.483,9.036,9.168,1,12.058556
91,ORDA08173,2018-01-20,08:30:25,Breakfast,None,"[('Cereal', 4), ('Pancake', 2), ('Coffee', 6)]",177.50,-37.806623,144.959140,0,NaN,14.894707,711334313,1,0,7.853,9.046,7.753,1,14.894707
96,ORDI08684,2018-04-08,11:12:40,Breakfast,None,"[('Pancake', 2), ('Eggs', 3), ('Cereal', 8), (...",342.50,-37.824272,144.988693,0,NaN,16.604416,643990753,1,0,6.386,9.206,9.599,1,16.604416
98,ORDZ08087,2018-01-05,08:00:00,Breakfast,None,"[('Cereal', 9), ('Pancake', 9), ('Coffee', 2),...",466.25,-37.821418,144.961457,1,NaN,6.763316,591398356,0,0,8.210,7.441,9.076,1,13.526632
140,ORDA01840,2018-01-28,08:50:42,Breakfast,None,"[('Eggs', 7), ('Pancake', 2), ('Coffee', 3), (...",372.00,-37.823323,144.942988,0,NaN,17.583869,3098158410,1,0,9.993,9.266,10.678,1,17.583869
159,ORDB06847,2018-05-20,12:33:48,Lunch,None,"[('Steak', 8), ('Salad', 5), ('Fries', 9)]",554.00,-37.802826,144.947994,0,NaN,14.912079,838386042,1,1,8.878,10.045,8.393,1,14.912079
162,ORDZ11102,2018-03-18,10:32:06,Breakfast,None,"[('Pancake', 1), ('Coffee', 8)]",84.25,-37.807469,144.970868,0,NaN,14.318970,767584716,1,0,6.733,9.294,6.971,1,14.318970
170,ORDZ06033,2018-04-27,11:43:05,Breakfast,None,"[('Coffee', 7), ('Eggs', 10), ('Cereal', 1)]",293.50,-37.811317,145.004643,0,NaN,15.385430,5167159985,0,0,3.759,11.494,9.973,1,15.385430
171,ORDJ08442,2018-10-12,17:27:53,Dinner,None,"[('Fish&Chips', 10), ('Salmon', 1), ('Pasta', ...",666.00,-37.808865,144.945141,0,NaN,13.334821,305106965,0,2,9.220,9.876,9.054,1,13.334821
174,ORDA03612,2018-05-25,12:43:56,Lunch,None,"[('Chicken', 4), ('Burger', 5), ('Steak', 5), ...",696.80,-37.824137,144.949117,0,NaN,15.300694,730515880,0,1,9.395,8.626,10.253,1,15.300694
177,ORDZ05664,2018-07-02,13:54:55,Lunch,None,"[('Fries', 10), ('Chicken', 8), ('Steak', 8)]",736.00,-37.817403,144.952611,0,NaN,14.897955,4716823526,0,1,8.748,8.669,9.046,1,14.897955
179,ORDA04103,2018-12-04,19:09:17,Dinner,None,"[('Salmon', 5), ('Pasta', 4), ('Shrimp', 9)]",801.00,-37.813795,144.982716,0,NaN,13.105716,278912971,0,2,6.035,9.235,8.379,1,13.105716
180,ORDB01045,2018-03-15,10:21:58,Breakfast,None,"[('Eggs', 4), ('Cereal', 9), ('Coffee', 9)]",344.50,-37.807686,144.970591,0,NaN,11.388926,767584026,0,0,6.755,9.250,7.015,1,11.388926
183,ORDK09729,2018-10-31,17:58:18,Dinner,None,"[('Pasta', 10), ('Fish&Chips', 5), ('Shrimp', ...",1400.00,-37.820351,144.964039,0,NaN,14.616876,1668523241,0,2,7.992,7.159,8.874,1,14.616876
193,ORDB07337,2018-02-19,09:31:16,Breakfast,None,"[('Cereal', 9), ('Eggs', 9), ('Pancake', 1)]",411.25,-37.802420,144.934978,0,NaN,13.484600,2143829886,0,0,10.567,10.960,10.390,1,13.484600
198,ORDJ04388,2018-01-10,08:10:08,Breakfast,None,"[('Pancake', 3), ('Cereal', 10)]",282.75,-37.821835,144.977943,1,NaN,4.865900,6215568586,0,0,7.127,8.609,8.863,1,9.731799
207,ORDY08148,2018-07-04,14:05:04,Lunch,None,"[('Chicken', 5), ('Fries', 6)]",232.00,-37.817878,144.946702,0,NaN,12.445438,711787999,0,1,9.427,9.336,9.480,1,12.445438
214,ORDK08513,2018-06-24,13:44:47,Lunch,None,"[('Burger', 5), ('Steak', 2), ('Salad', 1), ('...",486.20,-37.825408,144.982776,0,NaN,15.179474,746912543,1,1,7.060,8.948,9.530,1,15.179474
226,ORDA10940,2018-08-10,15:16:03,Lunch,None,"[('Salad', 9), ('Fries', 6), ('Chicken', 7)]",450.80,-37.813984,144.983599,0,NaN,11.844228,370752171,0,1,5.963,9.327,8.471,1,11.844228
248,ORDC01994,2018-01-01,08:00:00,Breakfast,None,"[('Cereal', 9), ('Eggs', 6), ('Pancake', 10)]",563.50,-37.807921,144.957742,1,NaN,6.507145,711328221,0,0,7.982,9.067,7.886,1,13.014290
259,ORDZ10911,2018-03-16,10:21:58,Breakfast,None,"[('Coffee', 2), ('Pancake', 2), ('Cereal', 4),...",367.50,-37.813169,145.014159,0,NaN,14.895677,1847879582,0,0,3.765,12.426,10.846,1,14.895677
260,ORDA07095,2018-12-06,19:09:17,Dinner,None,"[('Fish&Chips', 2), ('Salmon', 4), ('Pasta', 1...",693.50,-37.815351,144.967394,0,NaN,14.573576,6167191738,0,2,7.441,8.032,8.033,1,14.573576
265,ORDC04710,2018-05-26,12:43:56,Lunch,None,"[('Chicken', 5), ('Salad', 7), ('Steak', 1), (...",576.40,-37.805850,144.955864,0,NaN,15.495452,777702202,1,1,8.074,9.299,7.960,1,15.495452
283,ORDK01811,2018-11-07,18:18:35,Dinner,None,"[('Pasta', 4), ('Fish&Chips', 7)]",355.00,-37.816078,144.964149,0,NaN,15.061979,6167441068,0,2,7.754,7.784,8.249,1,15.061979
285,ORDY04349,2018-01-02,08:00:00,Breakfast,None,"[('Eggs', 5), ('Cereal', 7), ('Coffee', 6)]",302.00,-37.806182,144.939658,1,NaN,6.520418,358351976,0,0,10.601,10.832,10.424,1,13.040836
316,ORDA05089,2018-05-02,11:53:14,Breakfast,None,"[('Coffee', 9), ('Cereal', 8)]",235.50,-37.808865,144.952224,0,NaN,13.326728,3215106490,0,0,8.521,9.190,8.430,1,13.326728
318,ORDB06530,2018-03-26,10:42:15,Breakfast,None,"[('Pancake', 4), ('Cereal', 1)]",118.00,-37.801373,144.974314,0,NaN,12.501480,5957906942,0,0,7.170,9.985,6.472,1,12.501480
320,ORDX07756,2018-02-12,09:21:07,Breakfast,None,"[('Cereal', 7), ('Eggs', 8), ('Coffee', 5), ('...",578.75,-37.815651,144.974111,0,NaN,11.350016,6167344573,0,0,6.838,8.366,8.049,1,11.350016
325,ORDI00627,2018-10-02,17:07:36,Dinner,None,"[('Salmon', 5), ('Fish&Chips', 1), ('Pasta', 2)]",295.00,-37.800299,144.977673,0,NaN,12.717240,2792456569,0,2,6.984,10.187,6.818,1,12.717240
328,ORDJ05815,2018-06-02,13:04:13,Lunch,None,"[('Fries', 6), ('Burger', 8), ('Salad', 10), (...",684.00,-37.816296,144.967445,0,NaN,12.854658,589223804,1,1,7.621,7.904,8.330,1,12.854658
329,ORDI02985,2018-07-25,14:45:38,Lunch,None,"[('Burger', 1), ('Chicken', 2), ('Salad', 6), ...",549.20,-37.823298,144.976371,0,NaN,15.492034,2700682443,0,1,7.354,8.140,9.054,1,15.492034
333,ORDI00312,2018-07-17,14:25:21,Lunch,None,"[('Salad', 3), ('Steak', 6), ('Burger', 2)]",383.60,-37.808802,144.948404,0,NaN,13.836416,3210156249,0,1,8.940,9.639,8.779,1,13.836416
345,ORDY06977,2018-11-10,18:18:35,Dinner,None,"[('Salmon', 6), ('Shrimp', 1)]",300.00,-37.816280,144.966995,0,NaN,14.154466,3924931354,1,2,7.473,7.879,8.180,1,14.154466
346,ORDY10488,2018-07-22,14:45:38,Lunch,None,"[('Steak', 4), ('Fries', 10), ('Chicken', 5), ...",773.40,-37.821870,145.010320,0,NaN,16.019654,260907240,1,1,4.622,11.565,11.305,1,16.019654
387,ORDJ07383,2018-12-21,19:39:43,Dinner,None,"[('Salmon', 6), ('Fish&Chips', 5), ('Shrimp', 2)]",529.00,-37.814115,144.932876,0,NaN,14.867275,6197211479,0,2,11.060,11.212,9.071,1,14.867275
389,ORDC04261,2018-11-18,18:38:52,Dinner,None,"[('Fish&Chips', 1), ('Pasta', 6), ('Shrimp', 7...",988.00,-37.817939,145.008530,0,NaN,18.658291,1458422297,1,2,4.005,11.477,10.828,1,18.658291
407,ORDA07528,2018-05-11,12:13:31,Lunch,None,"[('Chicken', 7), ('Salad', 5)]",310.00,-37.825438,144.953472,0,NaN,15.683685,2421601624,0,1,9.459,8.690,10.321,1,15.683685
410,ORDZ01798,2018-06-26,13:44:47,Lunch,None,"[('Chicken', 10), ('Salad', 3), ('Burger', 8),...",664.60,-37.824660,144.984689,0,NaN,14.691332,746912607,0,1,6.841,8.916,9.487,1,14.691332
417,ORDA09712,2018-10-28,17:58:18,Dinner,None,"[('Salmon', 4), ('Shrimp', 8)]",596.00,-37.809566,144.947486,0,NaN,18.448089,4655129060,1,2,9.038,9.707,8.947,1,18.448089
428,ORDC03062,2018-07-28,14:55:46,Lunch,None,"[('Fries', 5), ('Burger', 1), ('Chicken', 2), ...",483.20,-37.821261,144.957795,0,NaN,16.330631,591342509,1,1,8.443,7.957,9.289,1,16.330631
431,ORDK05312,2018-07-20,14:35:29,Lunch,None,"[('Steak', 10), ('Salad', 9), ('Chicken', 1), ...",982.80,-37.812293,144.954022,0,NaN,14.011704,1833115017,0,1,8.315,8.861,8.337,1,14.011704
436,ORDB08696,2018-05-22,12:33:48,Lunch,None,"[('Steak', 1), ('Burger', 9), ('Fries', 8), ('...",740.00,-37.820091,145.002424,0,NaN,13.979012,2877343036,0,1,4.771,10.913,10.491,1,13.979012
440,ORDI03138,2018-06-21,13:34:38,Lunch,None,"[('Salad', 8), ('Chicken', 5)]",297.60,-37.814216,144.972871,0,NaN,13.613605,3687642861,0,1,6.911,8.517,7.829,1,13.613605
468,ORDY09002,2018-06-23,13:44:47,Lunch,None,"[('Salad', 5), ('Steak', 9), ('Chicken', 10), ...",1145.00,-37.798871,144.919834,0,NaN,17.131411,2140731827,1,1,11.840,12.363,11.670,1,17.131411

In [23]:
_isnull = ns_isnull
for index, loc in ns_isnull.iterrows():
    _isnull.at[index, 'dist_hat_ns'] = (ns_isnull.at[index, 'ori_fee'] -0.6063*ns_isnull.at[index, 'timeofday'] - 2.1365*ns_isnull.at[index, 'weekend'])/1.5367

In [24]:
tp_notnull = missing[missing['ori_fee'].notnull()]
tp_notnull = tp_notnull[tp_notnull['distance_to_customer_KM'].notnull()]
tp_notnull = tp_notnull[tp_notnull['branch_code'] == 'TP']
tp = tp_notnull[['ori_fee','distance_to_customer_KM','timeofday','weekend']]


X = tp[['distance_to_customer_KM','timeofday','weekend']] # here we have 2 variables for multiple regression. If you just want to use one variable for simple linear regression, then use X = df['Interest_Rate'] for example.Alternatively, you may add additional variables within the brackets
Y = tp['ori_fee']
model_tp = sm.OLS(Y, X).fit()
model_tp.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                ori_fee   R-squared (uncentered):                   0.998
Model:                            OLS   Adj. R-squared (uncentered):              0.998
Method:                 Least Squares   F-statistic:                          2.047e+04
Date:                Wed, 02 Oct 2019   Prob (F-statistic):                   2.05e-171
Time:                        02:44:55   Log-Likelihood:                         -120.22
No. Observations:                 131   AIC:                                      246.4
Df Residuals:                     128   BIC:                                      255.1
Df Model:                           3
Covariance Type:            nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------
distance_to_customer_KM     1.2655      0.010    127.179      0.000       1.246       1.285
timeofday                   0.8487      0.066     12.948      0.000       0.719       0.978
weekend                     1.1237      0.123      9.137      0.000       0.880       1.367
==============================================================================
Omnibus:                        3.311   Durbin-Watson:                   2.275
Prob(Omnibus):                  0.191   Jarque-Bera (JB):                2.813
Skew:                          -0.341   Prob(JB):                        0.245
Kurtosis:                       3.226   Cond. No.                         22.1
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [25]:
tp_isnull = missing[missing['ori_fee'].notnull()]
tp_isnull = tp_isnull[tp_isnull['distance_to_customer_KM'].isnull()]
for index, loc in ns_isnull.iterrows():
    _isnull.at[index, 'dist_hat_tp'] = (tp_isnull.at[index, 'ori_fee'] -0.8487*tp_isnull.at[index, 'timeofday'] - 1.1237*tp_isnull.at[index, 'weekend'])/1.2655

In [26]:
bk_notnull = missing[missing['ori_fee'].notnull()]
bk_notnull = bk_notnull[bk_notnull['distance_to_customer_KM'].notnull()]
bk_notnull = bk_notnull[bk_notnull['branch_code'] == 'BK']
bk = bk_notnull[['ori_fee','distance_to_customer_KM','timeofday','weekend']]

X = bk[['distance_to_customer_KM','timeofday','weekend']] # here we have 2 variables for multiple regression. If you just want to use one variable for simple linear regression, then use X = df['Interest_Rate'] for example.Alternatively, you may add additional variables within the brackets
Y = bk['ori_fee']
model_bk = sm.OLS(Y, X).fit()
model_bk.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                ori_fee   R-squared (uncentered):                   0.995
Model:                            OLS   Adj. R-squared (uncentered):              0.995
Method:                 Least Squares   F-statistic:                              8856.
Date:                Wed, 02 Oct 2019   Prob (F-statistic):                   1.30e-156
Time:                        02:44:56   Log-Likelihood:                         -201.25
No. Observations:                 140   AIC:                                      408.5
Df Residuals:                     137   BIC:                                      417.3
Df Model:                           3
Covariance Type:            nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------
distance_to_customer_KM     1.5362      0.018     85.758      0.000       1.501       1.572
timeofday                   1.4893      0.101     14.733      0.000       1.289       1.689
weekend                     2.5655      0.219     11.726      0.000       2.133       2.998
==============================================================================
Omnibus:                        3.543   Durbin-Watson:                   1.742
Prob(Omnibus):                  0.170   Jarque-Bera (JB):                2.195
Skew:                           0.046   Prob(JB):                        0.334
Kurtosis:                       2.394   Cond. No.                         19.9
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [27]:
bk_isnull = missing[missing['ori_fee'].notnull()]
bk_isnull = bk_isnull[bk_isnull['distance_to_customer_KM'].isnull()]
for index, loc in bk_isnull.iterrows():
    _isnull.at[index, 'dist_hat_bk'] = (bk_isnull.at[index, 'ori_fee'] -1.4893*bk_isnull.at[index, 'timeofday'] - 2.5655*bk_isnull.at[index, 'weekend'])/1.5362

In [28]:
_isnull[['dist_hat_tp','dist_hat_ns','dist_hat_bk','dist_to_BK','dist_to_TP','dist_to_NS','node']].head()

,dist_hat_tp,dist_hat_ns,dist_hat_bk,dist_to_BK,dist_to_TP,dist_to_NS,node
34,6.370175,5.403694,4.830658,3.873,11.602,10.761,5563404257
45,10.789171,9.042817,8.470965,9.506,10.412,9.307,702363974
49,10.084986,8.305167,8.307870,8.506,9.826,7.598,663120916
53,10.196080,8.053061,6.626832,9.955,9.874,9.932,579971507
54,9.091343,7.802365,6.655314,6.430,9.319,7.204,6207152063

In [29]:
def find_min(dist_hat_tp,dist_hat_ns,dist_hat_bk,dist_to_BK,dist_to_TP,dist_to_NS):
    tp = abs(dist_hat_tp-dist_to_TP)
    bk = abs(dist_hat_bk-dist_to_BK)
    ns = abs(dist_hat_ns-dist_to_NS)
    dist = min(tp,bk,ns)
    dist_2cus = 0.
    if dist == tp:
        branch_code = 'TP'
        dist_2cus = dist_to_TP
    elif dist == bk:
        branch_code = 'BK'
        dist_2cus = dist_to_BK        
    elif dist == ns:
        branch_code = 'NS'
        dist_2cus = dist_to_NS 
    
    return branch_code, dist_2cus

In [30]:
for index, loc in _isnull.iterrows():
    _isnull.at[index,'branch_code'], _isnull.at[index,'distance_to_customer_KM'] \
    = find_min(_isnull.at[index,'dist_hat_tp'],\
               _isnull.at[index,'dist_hat_ns'],\
              _isnull.at[index,'dist_hat_bk'],\
              _isnull.at[index,'dist_to_BK'],\
              _isnull.at[index,'dist_to_TP'],\
              _isnull.at[index,'dist_to_NS'])

In [31]:
_isnull

,order_id,date,time,order_type,branch_code,order_items,order_price,customer_lat,customer_lon,customerHasloyalty?,distance_to_customer_KM,delivery_fee,node,weekend,timeofday,dist_to_BK,dist_to_TP,dist_to_NS,fill,ori_fee,dist_hat_ns,dist_hat_tp,dist_hat_bk
34,ORDA09752,2018-05-29,12:54:05,Lunch,BK,"[('Chicken', 4), ('Fries', 1), ('Steak', 8), (...",672.00,-37.816727,145.008912,0,3.873,8.910156,5563404257,0,1,3.873,11.602,10.761,1,8.910156,5.403694,6.370175,4.830658
45,ORDC03174,2018-08-09,15:16:03,Lunch,NS,"[('Burger', 6), ('Chicken', 5), ('Fries', 4), ...",531.60,-37.805317,144.940949,0,9.307,14.502396,702363974,0,1,9.506,10.412,9.307,1,14.502396,9.042817,10.789171,8.470965
49,ORDC06727,2018-03-22,10:32:06,Breakfast,BK,"[('Pancake', 5), ('Coffee', 7)]",173.75,-37.800244,144.955044,0,8.506,12.762549,663120916,0,0,8.506,9.826,7.598,1,12.762549,8.305167,10.084986,8.307870
53,ORDB06683,2018-11-03,18:08:27,Dinner,TP,"[('Fish&Chips', 4), ('Shrimp', 3), ('Pasta', 3)]",384.50,-37.811583,144.945728,0,9.874,15.724240,579971507,1,2,9.955,9.874,9.932,1,15.724240,8.053061,10.196080,6.626832
54,ORDX08128,2018-10-26,17:48:10,Dinner,BK,"[('Pasta', 9), ('Shrimp', 3), ('Fish&Chips', 1...",1046.50,-37.808213,144.974359,0,6.430,13.202494,6207152063,0,2,6.430,9.319,7.204,1,13.202494,7.802365,9.091343,6.655314
68,ORDI08780,2018-07-20,14:35:29,Lunch,NS,"[('Burger', 1), ('Salad', 3), ('Chicken', 8)]",338.60,-37.814753,144.941839,0,9.565,15.083263,122756701,0,1,9.541,9.951,9.565,1,15.083263,9.420812,11.248173,8.849084
78,ORDA09083,2018-08-24,15:46:28,Lunch,TP,"[('Burger', 1), ('Steak', 5)]",256.00,-37.821689,144.984232,0,9.036,12.058556,577456661,0,1,6.483,9.036,9.168,1,12.058556,7.452499,8.858045,6.880130
91,ORDA08173,2018-01-20,08:30:25,Breakfast,BK,"[('Cereal', 4), ('Pancake', 2), ('Coffee', 6)]",177.50,-37.806623,144.959140,0,7.853,14.894707,711334313,1,0,7.853,9.046,7.753,1,14.894707,8.302341,10.881870,8.025782
96,ORDI08684,2018-04-08,11:12:40,Breakfast,NS,"[('Pancake', 2), ('Eggs', 3), ('Cereal', 8), (...",342.50,-37.824272,144.988693,0,9.599,16.604416,643990753,1,0,6.386,9.206,9.599,1,16.604416,9.414925,12.232885,9.138729
98,ORDZ08087,2018-01-05,08:00:00,Breakfast,NS,"[('Cereal', 9), ('Pancake', 9), ('Coffee', 2),...",466.25,-37.821418,144.961457,1,9.076,6.763316,591398356,0,0,8.210,7.441,9.076,1,13.526632,8.802389,10.688765,8.805254
140,ORDA01840,2018-01-28,08:50:42,Breakfast,BK,"[('Eggs', 7), ('Pancake', 2), ('Coffee', 3), (...",372.00,-37.823323,144.942988,0,9.993,17.583869,3098158410,1,0,9.993,9.266,10.678,1,17.583869,10.052300,13.006850,9.776311
159,ORDB06847,2018-05-20,12:33:48,Lunch,TP,"[('Steak', 8), ('Salad', 5), ('Fries', 9)]",554.00,-37.802826,144.947994,0,10.045,14.912079,838386042,1,1,8.878,10.045,8.393,1,14.912079,7.919099,10.224954,7.067621
162,ORDZ11102,2018-03-18,10:32:06,Breakfast,BK,"[('Pancake', 1), ('Coffee', 8)]",84.25,-37.807469,144.970868,0,6.733,14.318970,767584716,1,0,6.733,9.294,6.971,1,14.318970,7.927683,10.426922,7.651002
170,ORDZ06033,2018-04-27,11:43:05,Breakfast,NS,"[('Coffee', 7), ('Eggs', 10), ('Cereal', 1)]",293.50,-37.811317,145.004643,0,9.973,15.385430,5167159985,0,0,3.759,11.494,9.973,1,15.385430,10.011993,12.157589,10.015252
171,ORDJ08442,2018-10-12,17:27:53,Dinner,TP,"[('Fish&Chips', 10), ('Salmon', 1), ('Pasta', ...",666.00,-37.808865,144.945141,0,9.876,13.334821,305106965,0,2,9.220,9.876,9.054,1,13.334821,7.888476,9.195908,6.741454
174,ORDA03612,2018-05-25,12:43:56,Lunch,BK,"[('Chicken', 4), ('Burger', 5), ('Steak', 5), ...",696.80,-37.824137,144.949117,0,9.395,15.300694,730515880,0,1,9.395,8.626,10.253,1,15.300694,9.562305,11.419988,8.990623
177,ORDZ05664,2018-07-02,13:54:55,Lunch,BK,"[('Fries', 10), ('Chicken', 8), ('Steak', 8)]",736.00,-37.817403,144.952611,0,8.748,14.897955,4716823526,0,1,8.748,8.669,9.046,1,14.897955,9.300225,11.101743,8.728457
179,ORDA04103,2018-12-04,19:09:17,Dinner,TP,"[('Salmon', 5), ('Pasta', 4), ('Shrimp', 9)]",801.00,-37.813795,144.982716,0,9.235,13.105716,278912971,0,2,6.035,9.235,8.379,1,13.105716,7.739387,9.014869,6.592316
180,ORDB01045,2018-03-15,10:21:58,Breakfast,TP,"[('Eggs', 4), ('Cereal', 9), ('Coffee', 9)]",344.50,-37.807686,144.970591,0,9.250,11.388926,767584026,0,0,6.755,9.250,7.015,1,11.388926,7.411288,8.999546,7.413700
183,ORDK09729,2018-10-31,17:58:18,Dinner,NS,"[('Pasta', 10), ('Fish&Chips', 5), ('Shrimp', ...",1400.00,-37.820351,144.964039,0,8.874,14.616876,1668523241,0,2,7.992,7.159,8.874,1,14.616876,8.722767,10.208989,7.576016
193,ORDB07337,2018-02-19,09:31:16,Breakfast,TP,"[('Cereal', 9), ('Eggs', 9), ('Pancake', 1)]",411.25,-37.802420,144.934978,0,10.960,13.484600,2143829886,0,0,10.567,10.960,10.390,1,13.484600,8.775037,10.655551,8.777893
198,ORDJ04388,2018-01-10,08:10:08,Breakfast,BK,"[('Pancake', 3), ('Cereal', 10)]",282.75,-37.821835,144.977943,1,7.127,4.865900,6215568586,0,0,7.127,8.609,8.863,1,9.731799,6.332921,7.690082,6.334982
207,ORDY08148,2018-07-04,14:05:04,Lunch,TP,"[('Chicken', 5), ('Fries', 6)]",232.00,-37.817878,144.946702,0,9.336,12.445438,711787999,0,1,9.427,9.336,9.480,1,12.445438,7.704261,9.163760,7.131974
214,ORDK08513,2018-06-24,13:44:47,Lunch,BK,"[('Burger', 5), ('Steak', 2), ('Salad', 1), ('...",486.20,-37.825408,144.982776,0,7.060,15.179474,746912543,1,1,7.060,8.948,9.530,1,15.179474,8.093105,10.436250,7.241683
226,ORDA10940,2018-08-10,15:16:03,Lunch,TP,"[('Salad', 9), ('Fries', 6), ('Chicken', 7)]",450.80,-37.813984,144.983599,0,9.327,11.844228,370752171,0,1,5.963,9.327,8.471,1,11.844228,7.313027,8.688683,6.740612
248,ORDC01994,2018-01-01,08:00:00,Breakfast,BK,"[('Cereal', 9), ('Eggs', 6), ('Pancake', 10)]",563.50,-37.807921,144.957742,1,7.982,6.507145,711328221,0,0,7.982,9.067,7.886,1,13.014290,8.468985,10.283911,8.471742
259,ORDZ10911,2018-03-16,10:21:58,Breakfast,TP,"[('Coffee', 2), ('Pancake', 2), ('Cereal', 4),...",367.50,-37.813169,145.014159,0,12.426,14.895677,1847879582,0,0,3.765,12.426,10.846,1,14.895677,9.693289,11.770587,9.696444
260,ORDA07095,2018-12-06,19:09:17,Dinner,BK,"[('Fish&Chips', 2), ('Salmon', 4), ('Pasta', 1...",693.50,-37.815351,144.967394,0,7.441,14.573576,6167191738,0,2,7.441,8.032,8.033,1,14.573576,8.694590,10.174774,7.547830
265,ORDC04710,2018-05-26,12:43:56,Lunch,NS,"[('Chicken', 5), ('Salad', 7), ('Steak', 1), (...",576.40,-37.805850,144.955864,0,7.960,15.495452,777702202,1,1,8.074,9.299,7.960,1,15.495452,8.298726,10.685936,7.447371
283,ORDK01811,2018-11-07,18:18:35,Dinner,BK,"[('Pasta', 4), ('Fish&Chips', 7)]",355.00,-37.816078,144.964149,0,7.754,15.061979,6167441068,0,2,7.754,7.784,8.249,1,15.061979,9.012415,10.560710,7.865759
285,ORDY04349,2018-01-02,08:00:00,Breakfast,TP,"[('Eggs', 5), ('Cereal', 7), ('Coffee', 6)]",302.00,-37.806182,144.939658,1,10.832,6.520418,358351976,0,0,10.601,10.832,10.424,1,13.040836,8.486260,10.304889,8.489023
316,ORDA05089,2018-05-02,11:53:14,Breakfast,BK,"[('Coffee', 9), ('Cereal', 8)]",235.50,-37.808865,144.952224,0,8.521,13.326728,3215106490,0,0,8.521,9.190,8.430,1,13.326728,8.672303,10.530800,8.675126
318,ORDB06530,2018-03-26,10:42:15,Breakfast,TP,"[('Pancake', 4), ('Cereal', 1)]",118.00,-37.801373,144.974314,0,9.985,12.501480,5957906942,0,0,7.170,9.985,6.472,1,12.501480,8.135277,9.878688,8.137924
320,ORDX07756,2018-02-12,09:21:07,Breakfast,BK,"[('Cereal', 7), ('Eggs', 8), ('Coffee', 5), ('...",578.75,-37.815651,144.974111,0,6.838,11.350016,6167344573,0,0,6.838,8.366,8.049,1,11.350016,7.385968,8.968800,7.388372
325,ORDI00627,2018-10-02,17:07:36,Dinner,BK,"[('Salmon', 5), ('Fish&Chips', 1), ('Pasta', 2)]",295.00,-37.800299,144.977673,0,6.984,12.717240,2792456569,0,2,6.984,10.187,6.818,1,12.717240,7.486588,8.707894,6.339435
328,ORDJ05815,2018-06-02,13:04:13,Lunch,TP,"[('Fries', 6), ('Burger', 8), ('Salad', 10), (...",684.00,-37.816296,144.967445,0,7.904,12.854658,589223804,1,1,7.621,7.904,8.330,1,12.854658,6.580242,8.599176,5.728328
329,ORDI02985,2018-07-25,14:45:38,Lunch,NS,"[('Burger', 1), ('Chicken', 2), ('Salad', 6), ...",549.20,-37.823298,144.976371,0,9.054,15.492034,2700682443,0,1,7.354,8.140,9.054,1,15.492034,9.686818,11.571184,9.115176
333,ORDI00312,2018-07-17,14:25:21,Lunch,NS,"[('Salad', 3), ('Steak', 6), ('Burger', 2)]",383.60,-37.808802,144.948404,0,8.779,13.836416,3210156249,0,1,8.940,9.639,8.779,1,13.836416,8.609433,10.262913,8.037440
345,ORDY06977,2018-11-10,18:18:35,Dinner,TP,"[('Salmon', 6), ('Shrimp', 1)]",300.00,-37.816280,144.966995,0,7.879,14.154466,3924931354,1,2,7.473,7.879,8.180,1,14.154466,7.031539,8.955642,5.604977
346,ORDY10488,2018-07-22,14:45:38,Lunch,TP,"[('Steak', 4), ('Fries', 10), ('Chicken', 5), ...",773.40,-37.821870,145.010320,0,11.565,16.019654,260907240,1,1,4.622,11.565,11.305,1,16.019654,8.639848,11.100161,7.788604
387,ORDJ07383,2018-12-21,19:39:43,Dinner,NS,"[('Salmon', 6), ('Fish&Chips', 5), ('Shrimp', 2)]",529.00,-37.814115,144.932876,0,9.071,14.867275,6197211479,0,2,11.060,11.212,9.071,1,14.867275,8.885713,10.406855,7.739015
389,ORDC04261,2018-11-18,18:38:52,Dinner,NS,"[('Fish&Chips', 1), ('Pasta', 6), ('Shrimp', 7...",988.00,-37.817939,145.008530,0,10.828,18.658291,1458422297,1,2,4.005,11.477,10.828,1,18.658291,9.962381,12.514572,8.536773
407,ORDA07528,2018-05-11,12:13:31,Lunch,BK,"[('Chicken', 7), ('Salad', 5)]",310.00,-37.825438,144.953472,0,9.459,15.683685,2421601624,0,1,9.459,8.690,10.321,1,15.683685,9.811535,11.722627,9.239933
410,ORDZ01798,2018-06-26,13:44:47,Lunch,NS,"[('Chicken', 10), ('Salad', 3), ('Burger', 8),...",664.60,-37.824660,144.984689,0,9.487,14.691332,746912607,0,1,6.841,8.916,9.487,1,14.691332,9.165765,10.938468,8.593954
417,ORDA09712,2018-10-28,17:58:18,Dinner,BK,"[('Salmon', 4), ('Shrimp', 8)]",596.00,-37.809566,144.947486,0,9.038,18.448089,4655129060,1,2,9.038,9.707,8.947,1,18.448089,9.825593,12.348470,8.399941
428,ORDC03062,2018-07-28,14:55:46,Lunch,NS,"[('Fries', 5), ('Burger', 1), ('Chicken', 2), ...",483.20,-37.821261,144.957795,0,9.289,16.330631,591342509,1,1,8.443,7.957,9.289,1,16.330631,8.842215,11.345896,7.991037
431,ORDK05312,2018-07-20,14:35:29,Lunch,BK,"[('Steak', 10), ('Salad', 9), ('Chicken', 1), ...",982.80,-37.812293,144.954022,0,8.315,14.011704,1833115017,0,1,8.315,8.861,8.337,1,14.011704,8.723501,10.401425,8.151545
436,ORDB08696,2018-05-22,12:33:48,Lunch,TP,"[('Steak', 1), ('Burger', 9), ('Fries', 8), ('...",740.00,-37.820091,145.002424,0,10.913,13.979012,2877343036,0,1,4.771,10.913,10.491,1,13.979012,8.702227,10.375592,8.130264
440,ORDI03138,2018-06-21,13:34:38,Lunch,NS,"[('Salad', 8), ('Chicken', 5)]",297.60,-37.814216,144.972871,0,7.829,13.613605,3687642861,0,1,6.911,8.517,7.829,1,13.613605,8.464440,10.086847,7.892400
468,ORDY09002,2018-06-23,13:44:47,Lunch,TP,"[('Salad', 5), ('Steak', 9), ('Chicken', 10), ...",1145.00,-37.798871,144.919834,0,12.363,17.131411,2140731827,1,1,11.840,12.363,11.670,1,17.131411,9.363318,11.978673,8.512310

In [32]:
for index, loc in _isnull.iterrows():
    missing.at[index,'branch_code'],missing.at[index,'distance_to_customer_KM'] = _isnull.at[index,'branch_code'],_isnull.at[index,'distance_to_customer_KM']

In [33]:
missing.isnull().sum()

order_id                     0
date                         0
time                         0
order_type                   0
branch_code                  0
order_items                  0
order_price                  0
customer_lat                 0
customer_lon                 0
customerHasloyalty?          0
distance_to_customer_KM      0
delivery_fee                50
node                         0
weekend                      0
timeofday                    0
dist_to_BK                 400
dist_to_TP                 400
dist_to_NS                 400
fill                         0
ori_fee                     50
dtype: int64

In [34]:
ns_notnull = missing[missing['ori_fee'].notnull()]
ns_notnull = ns_notnull[ns_notnull['distance_to_customer_KM'].notnull()]
ns_notnull = ns_notnull[ns_notnull['branch_code'] == 'NS']
ns = ns_notnull[['ori_fee','distance_to_customer_KM','timeofday','weekend']]


X = ns[['distance_to_customer_KM','timeofday','weekend']] # here we have 2 variables for multiple regression. If you just want to use one variable for simple linear regression, then use X = df['Interest_Rate'] for example.Alternatively, you may add additional variables within the brackets
Y = ns['ori_fee']
model_ns = sm.OLS(Y, X).fit()

pred_ori_ns = model_ns.predict(missing[missing['delivery_fee'].isnull()][missing['branch_code'] == 'NS'][['distance_to_customer_KM','timeofday','weekend']])

for index, loc in missing[missing['delivery_fee'].isnull()][missing['branch_code'] == 'NS'][['ori_fee']].iterrows():
    missing.at[index,'ori_fee'] = pred_ori_ns[index]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  # This is added back by InteractiveShellApp.init_path()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  del sys.path[0]

In [35]:
tp_notnull = missing[missing['ori_fee'].notnull()]
tp_notnull = tp_notnull[tp_notnull['distance_to_customer_KM'].notnull()]
tp_notnull = tp_notnull[tp_notnull['branch_code'] == 'TP']
tp = tp_notnull[['ori_fee','distance_to_customer_KM','timeofday','weekend']]


X = tp[['distance_to_customer_KM','timeofday','weekend']] # here we have 2 variables for multiple regression. If you just want to use one variable for simple linear regression, then use X = df['Interest_Rate'] for example.Alternatively, you may add additional variables within the brackets
Y = tp['ori_fee']
model_tp = sm.OLS(Y, X).fit()

pred_ori_tp = model_tp.predict(missing[missing['delivery_fee'].isnull()][missing['branch_code'] == 'TP'][['distance_to_customer_KM','timeofday','weekend']])
for index, loc in missing[missing['delivery_fee'].isnull()][missing['branch_code'] == 'TP'][['ori_fee']].iterrows():
    missing.at[index,'ori_fee'] = pred_ori_tp[index]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  # This is added back by InteractiveShellApp.init_path()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if sys.path[0] == '':

In [36]:
bk_notnull = missing[missing['ori_fee'].notnull()]
bk_notnull = bk_notnull[bk_notnull['distance_to_customer_KM'].notnull()]
bk_notnull = bk_notnull[bk_notnull['branch_code'] == 'BK']
bk = bk_notnull[['ori_fee','distance_to_customer_KM','timeofday','weekend']]


X = bk[['distance_to_customer_KM','timeofday','weekend']] # here we have 2 variables for multiple regression. If you just want to use one variable for simple linear regression, then use X = df['Interest_Rate'] for example.Alternatively, you may add additional variables within the brackets
Y = bk['ori_fee']
model_bk = sm.OLS(Y, X).fit()

pred_ori_bk = model_bk.predict(missing[missing['delivery_fee'].isnull()][missing['branch_code'] == 'BK'][['distance_to_customer_KM','timeofday','weekend']])
for index, loc in missing[missing['delivery_fee'].isnull()][missing['branch_code'] == 'BK'][['ori_fee']].iterrows():
    missing.at[index,'ori_fee'] = pred_ori_bk[index]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  # This is added back by InteractiveShellApp.init_path()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if sys.path[0] == '':

In [37]:
missing['delivery_fee'] = missing['ori_fee']/(1+missing['customerHasloyalty?'])

In [38]:
missing.isnull().sum()

order_id                     0
date                         0
time                         0
order_type                   0
branch_code                  0
order_items                  0
order_price                  0
customer_lat                 0
customer_lon                 0
customerHasloyalty?          0
distance_to_customer_KM      0
delivery_fee                 0
node                         0
weekend                      0
timeofday                    0
dist_to_BK                 400
dist_to_TP                 400
dist_to_NS                 400
fill                         0
ori_fee                      0
dtype: int64

In [39]:
missing_imputed = missing[org_col]

In [40]:
missing_imputed.to_csv('Group102_missing_data_solution.csv')

In [41]:
#Technically we are done with missing

In [ ]:
menu = missing[['order_type','order_items']]
Breakfast = []
for index, each in menu[menu['order_type'] == 'Breakfast'].iterrows():
    for x in re.findall(r'[a-zA-Z&]+', menu.at[index, 'order_items']):
        if x not in breakfast:
            breakfast.append(x)
Breakfast

In [ ]:
menu = missing[['order_type','order_items']]
Lunch = []
for index, each in menu[menu['order_type'] == 'Lunch'].iterrows():
    for x in re.findall(r'[a-zA-Z]+', menu.at[index, 'order_items']):
        if x not in Lunch:
            Lunch.append(x)
Lunch

In [ ]:
menu = missing[['order_type','order_items']]
Dinner = []
for index, each in menu[menu['order_type'] == 'Dinner'].iterrows():
    for x in re.findall(r'[a-zA-Z]+', menu.at[index, 'order_items']):
        if x not in Dinner:
            Dinner.append(x)
Dinner

In [ ]:
missing[missing['order_type'] == 'Breakfast'][['order_items','order_price']].head(6)

In [ ]:
#Pancake, coffee, Cereal, Eggs
a = np.array([[8,9,1,10], 
              [0,0,3,6],
              [3,0,4,4],
              [8,6,8,0],
             ])
b = np.array([502.50,195.00,244.75,407.00])
breakfast_price = np.linalg.solve(a, b)

In [ ]:
price = {}
i= 0
for item in ['Pancake', 'Coffee', 'Cereal', 'Eggs']:
    price[item] = breakfast_price[i]
    i+=1

In [ ]:
price

In [ ]:
missing[missing['order_type'] == 'Lunch'][['order_items','order_price']].head(6)

In [ ]:
#Steak, Salad, Chicken, Burger, Fries
a = np.array([[7,3,3,2,10], 
              [1,3,9,0,3],
              [0,1,0,0,6],
              [10,10,8,2,8],
              [4,0,10,10,4],
             ])
b = np.array([644.6,420.6,89.2,1036.0,858.0])
lunch_price = np.linalg.solve(a, b)
i=0
for item in ['Steak', 'Salad', 'Chicken', 'Burger','Fries']:
    price[item] = lunch_price[i]
    i+=1

In [ ]:
#['Salmon', 'Fish&Chips', 'Shrimp', 'Pasta']
missing[missing['order_type'] == 'Dinner'][['order_items','order_price']].head(6)

In [ ]:
#['Salmon', 'Fish&Chips', 'Shrimp', 'Pasta']
a = np.array([[3,1,6,0], 
              [4,0,3,5],
              [0,0,1,5],
              [0,5,0,4],
             ])
b = np.array([482,463.5,191.5,285])
dinner_price = np.linalg.solve(a, b)
i=0
for item in ['Salmon', 'Fish&Chips', 'Shrimp', 'Pasta']:
    price[item] = dinner_price[i]
    i+=1

In [ ]:
price